@import "vendor/vendor";
@import "base/base";
@import "partials/partials";
@import "elements/elements";

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@include media-breakpoint-down(lg) {
  .container {
    max-width: none;
  }
}

// Everything but the jumbotron gets side spacing for mobile first views

.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

// Custom page header

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;

  // Make the masthead heading the same height as the navigation
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}

// Custom page footer
footer {
  color: #646464;
  background: $off-white-color;

  a {
    color: $link-color-dark;
  }

  .row {
    min-height: 3em;
  }
}

.banner-2 {
  background: url("/images/bg-banner-2.jpg") center center no-repeat;
  background-size: cover;
  color: $white;
  padding: 5em 0;
  padding-bottom: 2.5em;

  .slim {
    padding: 6em 0 3em;
  }
}

.drone-banner {
  background: url("/images/drone-banner.jpg") top center no-repeat;
  background-size: cover;
  color: $white;
  padding: 10em 0 2.5em 0;
  background-position-y: 20px;

  .slim {
    padding: 6em 0 3em;
  }
}

.display-1 {
  font-size: 4.5rem;
}

.display-2 {
  font-size: 3.5rem;
}

.display-3 {
  font-size: 2.5rem;
}

.display-4 {
  font-size: 1.5rem;
}

// Scroll horizontal, used for horizontal scrolling rows
.scroll-horiz {
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}

.key-contacts .card {
  height: 100%;

  a {
    word-wrap: break-word;
  }
}

.slash-divider {
  font-size: 3em;
  vertical-align: middle;
  font-family: sans-serif;
  font-weight: 100;
}

.mg-right-5 {
  margin-right: 5px;
}

.share-links {
  a {
    margin-right: 10px;
    color: tint($black, 45%);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;

    &:hover {
      color: $secondary-color;
    }
  }
}
// User page styling.
.user-img {
  //border: #e1e1e1 7px solid;
  background-color: $primary-color;
  border-radius: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;

  &.profile {
    margin-top: -3em;
  }

  img {
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 100%;
  }
}

.card .card-img-top.rounded-circle {
  border: #e1e1e1 7px solid;
  max-width: 100%;
  object-fit: cover;
}

.user-credits-people {
  background-color: $primary-color;
  color: $white;
}

.user-on-demand {
  background-color: $secondary-color;
  color: $white;
}

.on-demand {
  background: url("/images/bg-banner-1.jpg") center center no-repeat;
  background-size: cover;
  color: $white;

  // Padding for mobile
  padding: calc(5em + 60px) 0 5em;

  // Padding for desktop
  @include media-breakpoint-up(md) {
    // Remove the height of the nav bar roughly 60px
    padding: calc(5em + 60px) 0 5em;
  }
}

.uryplayer-podcast-embed {
  height: 75px;
  width: 500px;
  max-width: 100%;
}
.uryplayer-podcast-code {
  height: 70px;
  width: 100%;
}

.error-page {
  text-align: center;
  margin: 0 auto;

  h1 {
    font-size: 25vmin;
    padding-top: 25vh;
    padding-bottom: 25vh;
  }

  .spinner {
    display: inline-block;
    width: 25vmin;
    height: 25vmin;
    position: relative;
    top: 6vmin;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
    background: url("/images/URYRecord.png") center center;
    background-size: contain;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// Responsive: Portrait tablets and up

@media screen and (min-width: 768px) {
  // Remove the padding we set earlier
  .header {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 30px;
  }

  // Remove the bottom border on the jumbotron for visual effect
  .jumbotron {
    border-bottom: 0;
  }

  .mobile-only {
    display: none;
  }

  // Give more padding to banners
  .banner-2 {
    // Padding for mobile
    padding: calc(5em + 60px) 0 5em;

    // Padding for desktop
    @include media-breakpoint-up(md) {
      // Remove the height of the nav bar roughly 60px
      padding: calc(5em + 60px) 0 5em;
    }
  }

  .drone-banner {
    padding: 35vh 0 5em 0;
    background-attachment: fixed;
    background-size: cover;
  }

  .display-1 {
    font-size: 6.5rem;
  }

  .display-2 {
    font-size: 5.5rem;
  }

  .display-3 {
    font-size: 4.5rem;
  }

  .display-4 {
    font-size: 3.5rem;
  }
}

// Main marketing message and sign up button

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    padding: 14px 24px;
    font-size: 21px;
  }

}

@include media-breakpoint-down(sm) {
  .mobile-hide {
    display: none;
  }

  .user-profile {
    margin-top: -320px;
    margin-bottom: 30px;
  }

  .mobile-col-right {
    width: 66.66666666%;
    float: right;
    padding: 30px 15px;
  }

  .banner {
    display: none;
  }

  .card-block {
    text-align: left;
  }
}

// Show/Season/Timeslot specific

.mixcloud {
  background: #FCFCFC;
  color: #555;
  border-radius: 1em;
  overflow: hidden;
}

.show-img {
  border: $off-white-color 7px solid;
  background-color: $primary-color;

  @include media-breakpoint-up(md) {
    margin-top: -3em;
  }
}

.tag {
  font-size: 0.8em;
}

.podcast.card {
  color: #555;
}

// Styling for responsive map
.map-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.res-map {
  height: 400px;
  overflow: hidden;
  position: relative;
  padding-bottom: 22.25%;
  padding-top: 30px;
}

// Signed up page
.card-logo-container {
  height: 15rem;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainPageGrowingSpacer{
  flex-grow: 1;
  background-color: $off-white-color;
}
