<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="apple-touch-icon" sizes="180x180" href='{{url "/apple-touch-icon.png"}}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{{url "/favicon-32x32.png"}}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{{url "/favicon-16x16.png"}}'>
    <link rel="manifest" href='{{url "/manifest.json"}}'>
    <link rel="mask-icon" href='{{url "/safari-pinned-tab.svg"}}" color="#003367'>
    <meta name="theme-color" content="#003367">
    <meta name="description" content="{{.PageContext.SiteDescription}}">

    <title>{{block "title" .}}{{.PageContext.LongName}}{{end}}</title>
    
    {{block "open-graph" .}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{.PageContext.MainTwitter}}">
    <meta name="twitter:creator" content="@{{.PageContext.MainTwitter}}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_GB">
    <meta property="og:title" content="{{.PageContext.LongName}}">
    <meta property="og:description" content="{{.PageContext.SiteDescription}}">
    <meta property="og:image" content='{{.PageContext.FullURL}}{{url "/images/open_graph-general.jpg"}}'>
    <meta property="og:url" content='{{.PageContext.FullURL}}{{url "/"}}'>
    {{end}}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- bootstrap end -->

    <link rel="stylesheet" href='{{url "/css/main.scss.css"}}?ver={{ .PageContext.CacheBuster }}' type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500|Roboto:300,400,500">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
{{block "header-block" .}}
    {{template "header" .}}
{{end}}

{{block "content" .}}
<div class="container container-padded">
<h1>Error</h1>
<p>No content defined for this page.</p>
</div>
{{end}}


{{block "footer-block" .}}
    <div class="mainPageGrowingSpacer"></div>
    {{template "footer" .}}
{{end}}
<script>var MyRadioAPIKey = {{.PageContext.MyRadioAPIKey }};</script>
{{block "footer-scripts" .}}{{end}}
</body>
</html>
