<!-- bower:js -->
<script src="/bower_components/modernizr/modernizr.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/jquery-ui/jquery-ui.js"></script>
<!-- endbower -->

<script src="scripts/main.min.js"></script>

</body>
</html>