{{define "footer"}}
	<footer class="container outer footer">
        	<div class="navbar-left"><a href="#">Disclaimer</a> | <a href="#">MyRadio</a> | <a href="#">Contact</a></div>
        	<div class="navbar-right">
				<p>Designed by <a href="#">Computing</a></p>
          	</div>
    </footer>
{{end}}
