<!doctype html>
<html>
<head>

    <!-- bower:css -->
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <!-- endbower -->

    <link href='styles/main.css' rel='stylesheet' type='text/css'>

    <title>Hi</title>

</head>
<body>
