{{#Globals.CurrentAndNext}}
	<div class="current-and-next">
		{{#Current}}
			Now Playing: <a href="{{Url}}">{{Title}}</a><br>
		{{/Current}}

		{{#Next}}
			Up Next: <a href="{{Url}}">{{Title}}</a><br>
		{{/Next}}
	</div>
{{/Globals.CurrentAndNext}}