{{define "current_and_next"}}
<script src='{{url "/js/currentAndNext.js"}}'></script>
{{with .CurrentAndNext}}
<div class="current-and-next row justify-content-center">
  {{if .Current}}
  <div class="col-5 col-sm-3 col-md-2 p-0 current-and-next-img">
    <img src='
    {{- if .Current.Photo -}}
      //ury.org.uk{{.Current.Photo}}
    {{- else -}}
      {{url "/images/default_show_profile.png"}}
    {{- end -}}
    ' alt="{{.Current.Title}} Logo" />
  </div>
  <div class="col-7 col-sm-9 col-md-5 p-0 m-0">
    {{if .Current.Url}}
    <a class="current-and-next-now p-2 px-3 p-sm-3 p-lg-4 " href="{{.Current.Url}}" title="Show currently on air: {{.Current.Title}}">
    {{else}}
    <div class="current-and-next-now p-2 px-3 p-sm-3 p-lg-4">
    {{end}}
    <h2 class="font-weight-bold">Live now:</h2>
    {{template "current_next" .Current}}
    {{if .Current.Url}}
    </a>
    {{else}}
    </div>
    {{end}}
    <a href="https://ury.org.uk/listen" class="btn btn-red listen-btn listen-btn-animated listen-btn-not-surround mobile-hide" title="Listen Live" onclick="window.open('//ury.org.uk/live', 'radioplayer', 'height=800,width=440'); return false;"><i class="fa fa-volume-up mr-2"></i>Listen Live</a>
    <a href="https://ury.org.uk/media/surround/" class="btn btn-primary listen-btn listen-btn-animated listen-btn-surround mobile-hide" title="Surround Sound"><i class="fa fa-volume-up mr-2"></i>Surround Sound</a>
  </div>
  {{end}}
  {{if .Next}}
  <div class="col col-md-5 p-0 m-0">
    {{if .Next.Url}}
    <a class="current-and-next-next p-3 p-lg-4" href="{{.Next.Url}}" title="Show on air next: {{.Next.Title}}">
    {{else}}
    <div class="current-and-next-next p-3 p-lg-4">
    {{end}}
    <h2 class="font-weight-bold">Up next:</h2>
    {{template "current_next" .Next}}
    {{if .Next.Url}}
    </a>
    {{else}}
    </div>
    {{end}}
  </div>
  {{end}}
  <div class="col-12 mobile-only p-0">
    <a aria-hidden="true" href="https://ury.org.uk/listen" class="btn btn-lg btn-block btn-square btn-red listen-btn-mobile" title="Listen Live" onclick="window.open('//ury.org.uk/live', 'radioplayer'); return false;"><i class="fa fa-volume-up mr-2"></i>Listen Live</a>
  </div>
</div>
{{end}}
{{end}}
{{define "current_next"}}
<div class="template-box">
{{if .Title}}
<div class="h3 show-title ellipsis">
  {{.Title}}
</div>
<div class="show-time h4">
  {{if not .EndTime.IsZero}}
    {{- if .StartTime.IsZero -}}
      Now
    {{- else if gt (subTime .StartTime now) 86400000000000 -}}
        {{- .StartTime.Format "Monday 15:04" -}}
    {{- else -}}
      {{- .StartTime.Format "15:04" -}}
    {{- end}} -
    {{ if gt (subTime .EndTime now) 86400000000000 -}}
      {{.EndTime.Format "Monday 15:04"}}
    {{- else -}}
      {{.EndTime.Format "15:04"}}
    {{- end -}}
  {{end}}
</div>
{{else}}
<span>Looks like there is nothing on here.</span>
{{end}}
</div>
{{end}}

