{{define "istorn2020_countdown"}}
  <div class="istorn2020-countdown">
    <div class="row align-items-center text-center">
      <div class="col">
        <div class="display-3">
          <div class="istorn-countdown">
            <span class="istorn-countdown" id="istornCountdownDays"></span><span class="smol">d</span>
            <span class="istorn-countdown" id="istornCountdownHours"></span><span class="smol">h</span>
            <span class="istorn-countdown" id="istornCountdownMinutes"></span><span class="smol">m</span>
            <span class="istorn-countdown" id="istornCountdownSeconds"></span><span class="smol">s</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center text-center">
      <div class="col">
        <div class="callout">
          #StayHomeStayTuned
        </div>
      </div>
    </div>
  </div>
{{end}}
