{{define "message_box"}}
{{with .}}
<h2>Send a Message</h2>
<hr>
<form id="studiomessage" action="/" method="post" onsubmit="sendMessage(); return false;">
  <textarea class="form-control" id="comments" name="message" rows="4" maxlength="1000" placeholder=
  {{if .MsgBoxError}}
  	"Message cannot be sent at this time, please try again later."
  {{else if not .ShowOnAir}}
  	"No shows are on air right now, so there's no-one to send a message to." disabled
  {{else}}
  	"Why not send a message to the studio presenters? Thoughts, banter and song requests all go here!"
  {{end}}></textarea>
  <p id="charcount" class="text-muted my-1"></p>
  <button id="messagesend"  class="btn btn-primary btn-block" type="submit" value="SEND MESSAGE"
  {{if not .ShowOnAir}}
  	disabled
  {{end}}
  >Send Message</button>
</form>
<script>
  function sendMessage() {
    const messageInput = document.getElementById('comments');
    const sendButton = document.getElementById('messagesend');
    fetch('/', {
      method: 'POST',
      body: new FormData(document.getElementById('studiomessage')),
    }).then((res) => {
      if (!res.ok) {
        messageInput.placeholder = 'Message cannot be sent at this time, please try again later.';
      }
      messageInput.disabled = false;
      sendButton.disabled = false;
      sendButton.innerText = 'Sent!';
      setTimeout(() => {
        if (sendButton.innerText === 'Sent!') {
          sendButton.innerText = 'Send Message';
        }
      }, 1000);
    });
    messageInput.value = '';
    messageInput.disabled = true;
    sendButton.disabled = true;
    sendButton.innerText = 'Sending...';
  }
</script>
{{end}}
{{end}}
