{{define "navbar"}}
<header class="navbar navbar-ury navbar-expand-md fixed-top bd-navbar">
  <nav class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsed" aria-controls="collapsed" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{url "/"}}">
      <img src="{{url "/images/logo.png"}}" height="34" alt="{{.PageContext.LongName}} Logo" >
    </a>
    <div class="navbar-collapse collapse" id="collapsed">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Schedule</a>
        <a class="nav-item nav-link" href="#">Shows</a>
        <a class="nav-item nav-link" href="#">URY Player</a>
        <a class="nav-item nav-link" href="{{url "/about/"}}">About Us</a>
        <a class="nav-item nav-link" href="{{url "/getinvolved/"}}">Get Involved</a>
        <a class="nav-item nav-link" href="{{url "/contact/"}}">Contact Us</a>
      </div>
      <form action="{{url "/search/"}}" class="form-inline ml-auto search-box search-box-expand">
          <button type="submit" class="" alt="Submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          <div class="col px-0">
            <input type="text" name="term" placeholder="Search...">
          </div>
      </form>
    </div>
  </nav>
</header>
{{end}}