{{define "podcast_player"}}
  <audio class="podcast-audio" controls>
    <source src="https://ury.org.uk{{.Podcast.File}}" type="audio/mpeg">
    It looks like your browser can't play this file, please update your browser.
  </audio>
{{end}}
