#	 __  .___  ___. .______     ______   .______   .___________.    ___      .__   __. .___________.
#	|  | |   \/   | |   _  \   /  __  \  |   _  \  |           |   /   \     |  \ |  | |           |
#	|  | |  \  /  | |  |_)  | |  |  |  | |  |_)  | `---|  |----`  /  ^  \    |   \|  | `---|  |----`
#	|  | |  |\/|  | |   ___/  |  |  |  | |      /      |  |      /  /_\  \   |  . `  |     |  |
#	|  | |  |  |  | |  |      |  `--'  | |  |\  \_     |  |     /  _____  \  |  |\   |     |  |
#	|__| |__|  |__| | _|       \______/  | _| `.__|    |__|    /__/     \__\ |__| \__|     |__|
#
#
# This is the main config file for the 2016-site.
# Api Key should not be stored in this file. It should be in `.myradio.key`
# Any changes to this config should be reflected in the struct `structs.Config`

# This is the config for the server
	address	= "localhost"
	port    = 3000
	timeout	= 0

# This is data that will be passed into all templates
[pageContext]
	longName  = "University Radio York"
	shortName = "URY"

	[[pageContext.pages]]
		name = "Search"
		url  = "search/"
