#	 __  .___  ___. .______     ______   .______   .___________.    ___      .__   __. .___________.
#	|  | |   \/   | |   _  \   /  __  \  |   _  \  |           |   /   \     |  \ |  | |           |
#	|  | |  \  /  | |  |_)  | |  |  |  | |  |_)  | `---|  |----`  /  ^  \    |   \|  | `---|  |----`
#	|  | |  |\/|  | |   ___/  |  |  |  | |      /      |  |      /  /_\  \   |  . `  |     |  |
#	|  | |  |  |  | |  |      |  `--'  | |  |\  \_     |  |     /  _____  \  |  |\   |     |  |
#	|__| |__|  |__| | _|       \______/  | _| `.__|    |__|    /__/     \__\ |__| \__|     |__|
#
#
# This is the main config file for the 2016-site.
# The main API Key should not be stored in this file. It should be in `.myradio.key`
# Any changes to this config should be reflected in the struct `structs.Config`

# This is the config for the server
[server]
	address	= "localhost"
	port    = 3000
	timeout	= 0
	myradio_api = "https://www.ury.org.uk/api/v2"

# Shorturl update interval
[shortUrls]
	updateInterval = 100

# This is data that will be passed into all templates
[pageContext]
	longName  = "University Radio York"
	shortName = "URY"
	siteDescription = "University Radio York (URY) is the student radio station for the University of York, broadcasting 24 hours a day during term time on 88.3FM across campus, and worldwide via this website."

	urlPrefix = ""
	fullURL = "https://ury.org.uk"

	mainTwitter = "URY1350"
	mainFacebook = "URY1350"
	mainInstagram = "ury1350"
	newsTwitter = "URYNews"

	christmas = true
	aprilFools = false

	# Candidate Interview Night Stuff
	cin = true
	cinLivestreaming = true
	cinAPI = "http://127.0.0.1:8000"
	cinHashtag = "#YUSUElections2022 #CIN22"
	cinLive = "https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FURY1350%2F&width=800&show_text=false&height=0&appId"

	cacheBuster = "v1"

	odName = "On Tap"

	publicMyRadioAPIKey = "DFm1QGGyDZXHvGjjKYxv72ItpZe5oPiNvqTKEJLC2CmPYvdbYQ591DNKhpXwb1U9NVIgBuQ4XOBdSAKbaGzliqHm7pu4H4PxmO7mrH4JvKV6dBZx5n32obnEE2pE9vWC"

  [pageContext.indexCountdown]
      enabled = true
      until = "2022-02-17T19:00:00+00:00"
      callout = "HELLO"
      linkTo = "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
      background = {type = "image", source = "/images/bg-banner-1.jpg"}

	[[pageContext.pages]]
		name = "Search"
		url  = "search/"

	[pageContext.youtube]
		APIKey = "AIzaSyCzI5Gvpq1hPlfjvB81EVc0vLv_11eW7NI"
		sessionsPlaylistID = "PLsxUDJzU4VKDudlmlYb-ImFKreFKAfFln"
		cinPlaylistID = "PLsxUDJzU4VKAAH1pOogbzJx7pZgd-2zOx"
		channelURL = "//youtube.com/ury1350"

	[pageContext.gmaps]
		APIKey = "AIzaSyACeeyIgdIhiSxV01OIPiA3MyJDqrOspLQ"
		latitude = 53.948193
		longitude = -1.054030

# This is config for the schedule renderer
[schedule]
	startHour = 6

	[schedule.sustainer]
		name = "Overnight Owen"
		desc = "Non-stop tones from the URY jukebox."
