{{define "content"}}
<div class="container container-padded outer error-page">
	<div class="container container-padded">
		<div>
			<h1>5 <div class="spinner"></div> <div class="spinner"></div></h1>
			<h2>We're sorry, something went very wrong!</h2>
      <p>Unfortunately we ran into an error when preparing this page for you. <strong>This is our fault, not yours.</strong></p>
      <p>We've reported the error and our Computing Team will do their best to fix it.</p>
		</div>
	</div>
</div>
{{end}}
