{{define "title"}}{{.PageContext.ShortName}} | About Us{{end}}
{{define "open-graph"}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{.PageContext.MainTwitter}}">
<meta name="twitter:creator" content="@{{.PageContext.MainTwitter}}">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_GB">
<meta property="og:title" content="{{.PageContext.LongName}} | About Us">
<meta property="og:description" content="{{.PageContext.SiteDescription}}">
<meta property="og:image" content="{{.PageContext.FullURL}}{{url "/images/open_graph-general.jpg"}}">
<meta property="og:url" content="{{.PageContext.FullURL}}{{url "/about/"}}">
{{end}}
{{define "content"}}
<div class="container-fluid banner-2">
  <div class="container container-padded">
    <div class="row align-items-center text-center">
      <div class="col">
        <h1 class="display-3">On Air, Online, On Demand</h1>
        <h2 class="display-4">Broadcasting since 1968.</h2>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid container-padded bg-off-white">
  <div class="container container-padded">
    <h1>Welcome to URY!</h1>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <h2>Who is URY?</h2>
        <p>{{.PageContext.SiteDescription}}</p>
        <p>The station is run by students for students, meaning the people behind the station understand what the listenership want to hear.</p>
        <p>Our presenters cover a wide range of content. This includes a mixture of different genres and shows, which are tailor-made to different demographics. Our aim to inform and entertain the students of the University of York.</p>
      </div>
      <div class="col-md-6 col-lg-4">
        <h2>Where is URY?</h2>
        <p>URY's studios lie at the very heart of the campus in our own building at Vanbrugh College.<p>
        <p>But URY is not confined to the four walls of the station, we are always around the campus at major University and Student Union events, whether we're covering live music, recruiting new Freshers or reporting on major news events.</p>
        <p>
          <a href="{{url "/contact/#map"}}"title="Contact Page">Find us on a map!</a>
        </p>
      </div>
      <div class="col-md-6 col-lg-4">
        <h2>Our Teams</h2>
        <p>Behind the scenes, the main activities involved in running the station are broken down in teams, which contain officers
          who are responsible for specific areas of station activity.</p>
        <p>URY is proud to have a large active membership, and encourages people to get involved, no matter what they want to
          do or how much time they can commit.</p>
        <p>
          <a href="{{url "/teams/"}}"title="Visit the teams page">Find out more about our teams!</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid container-padded bg-primary">
  <div class="container container-padded">
    <h1>How To Listen?</h1>
    <p>There are many ways you can listen to URY, whether you’re a Uni of York student, friends and family of our presenters, or you’re just interested in what our student radio has to offer.</p>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <h2>On Air</h2>
          <h3>AM Radio</h3>
          <p>We are of course a legal radio station and we broadcast on AM radio all across campus on 1350KHz Medium Wave.</p>
          <p>So what are you waiting for? Ask your parents if you can have their old boom box, and get it tuned into URY like it’s 1989.</p>
          <h3>In Your Ears</h3>
          <p>URY can occasionally be heard out and about on campus, we regularly attend campus events such as move-in days, Freshers’ Fairs, and Elections Result Night! If you hear us… come along and say hi!</p>
      </div>
      <div class="col-md-6 col-lg-4">
        <h2>Online</h2>
        <p>Left your boom box at home? Don’t worry we are online too.</p>
          <h3>URY Website</h3>
          <p>You can listen to us live through <a target="_blank" href="//ury.org.uk/live" title="Click to listen live.">radioplayer</a> (recommended), or via one of our streams:</p>
          <ul>
            <li><a target="_blank" href="//audio.ury.org.uk/live-high" title="Listen to URY's High Quality stream (192kb/s).">High Quality (192 kb/s MPEG)</a></li>
            <li><a target="_blank" href="//audio.ury.org.uk/live-high-ogg" title="Listen to URY's High Quality (OGG) stream (128kb/s).">High Quality OGG (128 kb/s OGG)</a></li>
            <li><a target="_blank" href="//audio.ury.org.uk/live-mobile" title="Listen to URY's Mobile Quality stream (48kb/s).">Mobile Quality (48 kb/s MPEG)</a></li>
          </ul>
          <h3>Smart Speakers</h3>
          <p>We are also on TuneIn which means you can listen to us via most smart speakers, simply say “Play University Radio York”.</p>
          <h3>iTunes Internet Radio</h3>
          <p>We are available on iTunes Radio: <br>Internet Radio -> College/University -> ((URY)) - University Radio York</p>
      </div>
      <div class="col-md-6 col-lg-4">
        <h2>On Tap</h2>
        <p>URY On Tap - Refreshing content when you need it the most.</p>
        <p>At URY we understand that you have very busy lives and can’t always tune into your favourite show live, that’s why the majority of our shows are automatically uploaded to Mixcloud, simply find the show on our schedule and listen back. <a href="{{url "/schedule/thisweek"}}" title="Click to view our schedule.">Our schedule.</a></p>
        <p>Believe it or not but radio is also a visual medium, check out our YouTube content to see all of our latest sessions and interviews. <a href="{{url "/ontap#YouTube"}}" title="click to view our youtube content.">Our YouTube content.</a></p>
        <p>If all of that wasn’t enough for you, we still produce the occasional podcast too! <a href="{{url "/podcasts"}}" title="Click to find all of our podcasts.">View all podcasts!</a></p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid container-padded">
  <div class="container container-padded">
    <h1>Our History</h1>
    <div> {{/* Prevents bug where p would appear inline with h2 */}}
      <p>URY has a rich history of pioneering broadcasting, commencing under a test licence as Radio Heslington in 1967, becoming Radio York in 1968 and culminating in 1969 as the first fully-licensed legal independent radio station in the UK with an inaugural broadcast by John Peel.</p>
      <p>Over the years, we have been fortunate enough to receive numerous awards, including BBC Radio 1 Student Station of the Year in 2005, and many awards from the Student Radio Association.</p>
      <p>At URY we cover a large range of campus events including Student Union Elections, but we also host our own charity events, such as the 40-hour broadcast in aid of Macmillan Cancer Support back in March 2013, where we raised over £1,800. In June 2016, we went a step further and hosted URY’s longest ever show “URY 101”, live from Greg’s Place for 101 hours, all in aid of Yorkshire Cancer Research raising a massive £1,700.</p>
      <p>We pride ourselves at URY for running all the technical aspects of the radio station ourselves. In summer 2015, the internal audio routing was completely overhauled and converted to audio over IP by the engineering team in a project known as “Beat the Buzz”.</p>
    </div>
  </div>
</div>
<div class="container-fluid container-padded bg-secondary">
  <div class="container container-padded">
    <div class="row">
      <div class="col-12">
        <h1>Our Awards</h1>
        <p>We are really pleased with everything we have achieved at {{.PageContext.ShortName}}, and it is really great to be
          recognised for this.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <h2>2019</h2>
        <ul>
          <li>Gold Best Student Chart Show (<a href="{{url "/schedule/shows/timeslots/146075/"}}">URY's Entry</a>)</li>
          <li>Gold Best Newcomer (<a href="{{url "/people/10756"}}">Joseph Morrall</a>)</li>
          <li>Gold Best Female (<a href="{{url "/people/10058"}}">Hannah Sackville-Bryant</a>)</li>
          <li>Silver Best Technical (Building Homebrew Studio Infrastructure)</li>
          <li>Silver Best Entertainment Show (<a href="{{url "/people/9979/"}}">Joel Mitchell</a>)</li>
        </ul>
        <h2>2018</h2>
        <ul>
          <li>Gold Multiplatform Initiative (URSpy)</li>
          <li>Gold Best Technical Achievement (URSpy)</li>
          <li>Silver Kevin Greening Award (URSpy)</li>
          <li>Silver Best Male (<a href="{{url "/people/9979/"}}">Joel Mitchell</a>)</li>
        </ul>
        <h2>2017</h2>
        <ul>
          <li>Gold Best Entertainment Programme (<a href="{{url "/schedule/shows/13053/"}}">URY:PM - with K-Spence</a>)</li>
          <li>Gold Best Newcomer (<a href="{{url "/people/10082/"}}">Will Batchelor</a>)</li>
          <li>Silver Best Newcomer (<a href="{{url "/people/9858/"}}">Matthew Stratford</a>)</li>
          <li>Bronze Best Technical Achievement (URY Visualisation)</li>
        </ul>
        <h2>2016</h2>
        <ul>
          <li>Gold Best Technical Achievement (Beat the Buzz)</li>
          <li>Bronze Best Station Branding</li>
          <li>Bronze Kevin Greening Award (<a href="{{url "/schedule/shows/13238/"}}">URY: Biscuit News</a>)</li>
        </ul>
        <h2>2015</h2>
        <ul>
          <li>Gold Best Entertainment Programme (<a href="{{url "/schedule/shows/12629/"}}">URY: Harry Whittaker Show</a>)</li>
          <li>Gold Best Newcomer (<a href="{{url "/people/8897/"}}">Rebecca Saw</a>)</li>
          <li>Silver Best Live Event or Outside Broadcast (<a href="{{url "/schedule/shows/13004/"}}">URY: Elections Results Night</a>)</li>
          <li>Silver Best Technical Achievement (URY: Roses Mini OB Kits)</li>
          <li>Bronze Best Male Presenter (<a href="{{url "/people/8027/"}}">Harry Whittaker</a>)</li>
        </ul>
        <h2>2014</h2>
        <ul>
          <li>Silver Best Journalistic Programming (<a href="{{url "/schedule/shows/12896/"}}">URY: River Safety: York’s Rising Problem</a>)</li>
        </ul>
        <h2>2013</h2>
        <ul>
          <li>Gold Best Speech Programming (<a href="{{url "/schedule/shows/12602/"}}">URY: The New World Order: Part 2: 1651</a>)</li>
          <li>Silver Best Speech Programming (<a href="{{url "/podcasts/816/"}}">URY: Trimble</a>)</li>
          <li>Silver Best Newcomer (<a href="{{url "/people/8027/"}}">Harry Whittaker</a>)</li>
          <li>Bronze Best Entertainment Show (<a href="{{url "/schedule/shows/12629/"}}">The Harry Whittaker Show</a>)</li>
          <li>Bronze Kevin Greening Award for Creativity (<a href="{{url "/podcasts/816/"}}">URY: Trimble</a>)</li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-6">
        <h2>2012</h2>
        <ul>
          <li>Silver Best Station</li>
          <li>Bronze Best Specialist Music Programming (<a href="{{url "/schedule/shows/11183/"}}">URY: Coco Electro</a>)</li>
        </ul>
        <h2>2011</h2>
        <ul>
          <li>Gold Best Entertainment (<a href="{{url "/schedule/shows/11802/"}}">The Chalk and Charles Show</a>)</li>
          <li>Kevin Greening Award for Creativity (<a href="{{url "/podcasts/390/"}}">The Prince of Humberside</a>)</li>
          <li>Bronze Best Speech (<a href="{{url "/podcasts/697/"}}">The More Beautiful Game</a>)</li>
        </ul>
        <h2>2010</h2>
        <ul>
          <li>Silver Best Journalistic Programming (York 90)</li>
          <li>Silver Best Female Presenter (Rachael Cole)</li>
        </ul>
        <h2>2009</h2>
        <ul>
          <li>Gold Best Interview (Hilary Benn on Binyam Mohamed)</li>
          <li>Gold Best Journalistic Programming (<a href="{{url "/schedule/shows/12532/"}}">York Report</a>)</li>
          <li>Bronze Best Entertainment (<a href="{{url "/schedule/shows/12015/"}}">The Technical Difficulties</a>)</li>
        </ul>
        <h2>2008</h2>
        <ul>
          <li>Inaugural Kevin Greening Award (<a href="{{url "/schedule/shows/12015/"}}">The Technical Difficulties</a>)
          <li>Gold Best Interview (<a href="{{url "/people/1157/"}}">Rob Watts</a>)</li>
          <li>Bronze Best Entertainment (<a href="{{url "/schedule/shows/12115/"}}">URY Breakfast: Rob Watts, Steve Gardner, Hannah Green</a>)</li>
          <li>Bronze Best Male (<a href="{{url "/people/1157/"}}">Rob Watts</a>)</li>
        </ul>
        <h2>2005</h2>
        <ul>
          <li>Best Station</a>
        </ul>
        <h2>1987</h2>
        <ul>
          <li>Best News Programme for the 1987 General Election - National Association of Student Broadcasting/BBC Radio 1</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{end}}
