{{define "title"}}{{.PageContext.ShortName}} | CIN{{end}}

{{define "content"}}
<div class="container-fluid bg-cin-gif">
    <div class="container container-padded">
      <div class="row align-items-center text-center">
        <div class="col">
          <h1 class="display-3 cin-text">{{.PageContext.ShortName}} Candidate Interview Night</h1>
        </div>
      </div>
    </div>
    {{if .PageContext.CINLivestreaming}}
    
    {{end}}
</div>
<div id="index-videos" class="container-fluid container-padded bg-cin">
    <div id="cin-videos" class="row pb-3 youtube-grid">
    </div>
</div>
{{end}}

{{define "footer-scripts"}}
<!-- Youtube slider script -->
<script>
var youtubeAPIKey = {{.PageContext.Youtube.APIKey}};
var youtubeSessionsPlaylistID = "{{.PageContext.Youtube.SessionsPlaylistID}}";
var youtubeCINPlaylistID = "{{.PageContext.Youtube.CINPlaylistID}}";
var youtubeLink = "{{.PageContext.Youtube.ChannelURL}}";
var isIndex = false;
var isCIN = true;
var isOD = false;
</script>
<script src='{{url "/js/index.js"}}'></script>
<script src="https://apis.google.com/js/client.js?onload=onGoogleLoad"></script>
{{end}}
