{{define "title"}}{{.PageContext.ShortName}} | Competitions{{end}}
{{define "content"}}
<div class="container-fluid banner-2">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col">
        <h1 class="display-3">Competitions</h1>
        <h2 class="display-4">Terms and Conditions</h2>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid container-padded bg-off-white">
  <div class="container">
    <h1 class="text-center">General Rules</h1>
    <p><strong>All competitions run by University Radio York (URY) are governed by the following rules:</strong></p>
    <p>Competitions on URY will be advertised either on air, on our website (ury.org.uk) or via our social media pages. Each competition will detail how to enter the competition, quantities and specifications of prizes, and any further conditions of the competition.</p>
    <ol>
      <li>Competitions are open to UK residents, who age at least 18 years old, unless explicitly stated otherwise.</li>
      <li>Competition entries are limited to 1 per person, multiple entries will only be counted as 1 entry, unless explicitly stated otherwise.</li>
      <li>Entries must receive all required information, within the given period, any incomplete or late entries will be rejected.</li>
      <li>Entries to competitions become immediate property of URY, to use freely as URY see fit without prior consent of the entrant.</li>
      <li>Once the competition has closed, each valid entry is assigned a unique number and winners will be selected randomly, unless explicitly stated otherwise. URY reserve the right to draw winners either on air, or off-air.</li>
      <li>Winners will be contacted personally either by phone, email, or the social media in which then entered the competition. If a winner does not respond within 24 hours of the competition closing (unless explicitly stated otherwise), then URY reserves the right to draw a new winner at random.</li>
      <li>Prizes must be collected within 7 days of the competition closing, unless explicitly stated otherwise. There is no cash alternative for any prizes. URY reserves the right to give away any prizes which have not be collected within this period.</li>
    </ol>
    <p>Any further information, questions, or complaints about URY’s competitions must be addressed to the Head of Marketing via email: <a href="mailto:head.of.marketing@ury.org.uk">head.of.marketing@ury.org.uk</a>. Complaints about any competition must be made within 2 weeks of the competition closing. After this time, completion specific terms will be removed from the website.</p>
  </div>
</div>

<div class="container-fluid container-padded">
  <div class="container">
    <h2 class="text-center">Competition Specific Rules</h2>
    <p>All general rules apply to these competitions, unless changes are explicitly stated!</p>
    <!-- Example Competition -->
    <!--
    <h3>Competition Name</h3>
    <dl>
      <dt>Competition period:</dt>
      <dd>hh:mm dd/mm/yyyy - hh:mm dd/mm/yyyy</dd>
      <dt>Prizes:</dt>
      <dd><ul>
        <li>Prize Details [Number Available]</li>
        <li>Prize Details [Number Available]</li>
      </ul></dd>
      <dt>How to enter:</dt>
      <dd>Information on how to enter the competition.</dd>
    <dl>
    -->

    <h3>Summer Ball Competition</h3>
    <dl>
      <dt>Competition period:</dt>
      <dd>3PM 02/06/2017 - 12PM 10/06/2017</dd>
      <dt>Prizes:</dt>
      <dd>
        <ul>
          <li>1 Summer Ball Ticket [2 available]</li>
        </ul>
      </dd>
      <dt>How to enter:</dt>
      <dd>Answer the question pinned on our facebook page (URY1350). Correct entries will be assigned a random number. Winners will be drawn after the competition closes on 10/06/2017.</dd>
    </dl>
  </div>
</div>
{{end}}
