{{define "title"}}{{.PageContext.ShortName}} | Contact{{end}}

{{define "open-graph"}}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@{{.PageContext.MainTwitter}}"/>
    <meta name="twitter:creator" content="@{{.PageContext.MainTwitter}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_GB" />
    <meta property="og:title" content="Say hi to URY!"/>
    <meta property="og:description" content="At URY, radio is a two-way medium. Send us a message or find us on social media."/>
    <meta property="og:image" content="{{.PageContext.FullURL}}/images/open_graph-general.jpg"/>
    <meta property="og:url" content="{{.PageContext.FullURL}}/contact/"/>
{{end}}

{{define "content"}}
<div class="container-fluid banner-2 text-overlay">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col">
        <h1 class="display-2">Say hi to URY!</h1>
        <h2 class="display-4">At URY, radio is a two-way medium.</h2>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid container-padded text-center">
  <div class="row">
    <div class="col-md-4">
      <h2><a href="//twitter.com/{{.PageContext.MainTwitter}}" title="URY Twitter" target="_blank">@{{.PageContext.MainTwitter}}</a></h2>
      <span>On Twitter</span>
    </div>
    <div class="col-md-4">
      <h2>07851 101 313</h2>
      <span>Text the studio<br>or send a message via the <a href="/" title="URY Homepage">homepage</a>.</span>
    </div>
    <div class="col-md-4">
      <h2>
        <a href="//facebook.com/{{.PageContext.MainFacebook}}" title="URY Facebook Page" target="_blank">/{{.PageContext.MainFacebook}}</a>
      </h2>
      <span>On Facebook</span>
    </div>
  </div>
</div>
<div class="container-fluid container-padded text-center bg-primary">
  <div class="row">
    <div class="col">
      <h1>Got some news for us?</h1>
      <p>Got a breaking news story? Get in touch with the URY Newsroom right away!</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2><a href="mailto:newsroom@ury.org.uk" title="Email URY Newsroom">newsroom@ury.org.uk</a> <span class="slash-divider">/</span> <a href="//twitter.com/{{.PageContext.NewsTwitter}}" title="URY News Twitter" target="_blank">@{{.PageContext.NewsTwitter}}</a></h2>
    </div>
  </div>
</div>
<div class="container-fluid container-padded text-center bg-secondary key-contacts">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Key Contacts</h1>
        <p>The people to contact about enquiries.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="card bg-transparent">
          <img class="card-img-top rounded-circle" src="/images/people-profile.jpg" alt="Profile Image">
          <div class="card-block">
            <h4 class="card-title">Station Manager</h4>
            <p><a href="mailto:station.manager@ury.org.uk" title="Email the Station Manager">station.manager<br>@ury.org.uk</a></p>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card bg-transparent">
          <img class="card-img-top rounded-circle" src="/images/people-profile.jpg" alt="Profile Image">
          <div class="card-block">
            <h4 class="card-title">Programme Controller</h4>
            <p class="card-text"><a href="mailto:programme.controller@ury.org.uk" title="Email the Programme Controller">programme.controller<br>@ury.org.uk</a></p>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card bg-transparent">
          <img class="card-img-top rounded-circle" src="/images/people-profile.jpg" alt="Profile Image">
          <div class="card-block">
            <h4 class="card-title">Music Submissions</h4>
            <p class="card-text"><a href="mailto:music@ury.org.uk" title="Email the Music team">music<br>@ury.org.uk</a></p>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card bg-transparent">
          <img class="card-img-top rounded-circle" src="/images/people-profile.jpg" alt="Profile Image">
          <div class="card-block">
            <h4 class="card-title">Assistant Station Manager</h4>
            <p class="card-text"><a href="mailto:assistant.station.manager@ury.org.uk" title="Email the Assistant Station Manager">assistant.station.manager<br>@ury.org.uk</a></p>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid container-padded text-center bg-off-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Everything Else</h1>
        <p>For all other enquiries, contact the URY office.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2>Phone</h2>
        <p><strong>Internal Phone</strong><br>1350 (Free)</p>
        <p><strong>External Phone</strong><br>(+44)1904 32 1350 (Standard Rates)</p>
      </div>
      <div class="col-md-4">
        <h2>Email</h2>
        <p><strong>Management Team</strong><br>
          <a href="mailto:ury@ury.org.uk" title="Email URY Management">ury@ury.org.uk</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Location</h2>
        <p><strong>Postal Address</strong><br>
          URY, Vanbrugh College<br>
          University of York<br>
          York<br>
          YO10 5DD
        </p>
      </div>
    </div>
  </div>
</div>
{{end}}
