{{define "content"}}
<div class="container-fluid banner-2 text-overlay">
  <div class="container">
    <div class="row text-center align-items-center">
      <div class="col">
        <h1 class="display-2">Radio.</h1>
        <h2 class="display-4">By Students, For Students.</h2>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid container-padded text-center bg-off-white">
  <div class="row text-center align-items-center">
    <div class="col">
      <h3>Want to help York make incredible <strong>Award Winning</strong> radio?</h3>
      <h3>Want to join one of the best, largest and most diverse societies university has to offer?</h3>
      <p>Whether you to hear your voice played out on the airwaves, break the biggest news stories as they happen,
        play with the state-of-the-art studios and computer systems, or just plain have fun, then URY is the place for you.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid container-padded text-center">
  <h2>What Can I Do?</h2>
  <div class="container">
    <div class="row">
      <p>Of course, everyone wants to be on the radio! Presenting is as easy as baking a cake (disclaimer: I can't bake cakes)
        and you don't have to sign up at Freshers' Fair or at the start of a term to get your very own show!
        Take a look at our <a href="/schedule" title="The URY Schedule">schedule</a>. If you can see a gap, there's no reason you couldn't fill it.
      </p>
      <p>As well as just presenting, there are <strong><a href="#" title="Have a look at what our teams do!">!!NUMBER! Teams!</a></strong>
        of students that make content and keep URY running. You can see more about them at the bottom of this page.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid container-padded text-center bg-primary">
  <h2>How Do I Get A Show?</h2>
  <div class="container">
    <div class="row">
      <p>Getting your own show is easy as pie! First thing is to make sure you are a paid member, you can do this through <a href="http://yusu.org" title="York University Students Union" target="_blank">YUSU</a>.</p>
      <p>Once you have paid, log in to <a href="/myradio/">MyRadio</a> and set up an account, from there you will be able to sign up to training! Under "Get On Air",
        click "Get Studio Trained" and take your pick of training sessions you can attend, click join and you are good to go!
        If there aren't any slots available, email our Training Co-ordinator at <a href="mailto:training@ury.org.uk" title="Email our Training Co-ordinator">training@ury.org.uk</a>.
        During training, we will show you how to use the studio and how to apply for a show. Shows are typically one hour long, scheduled once a week.</p>
      <p><strong>Easy peasy.</strong></p>
    </div>
  </div>
</div>
<div class="container-fluid container-padded text-center bg-third">
  <h2>How Do I Join?</h2>
  <div class="container">
    <div class="row">
      <p>If you're ready to sign up right now, you can fill in the form below to sign up to our mailing list and computer system. It's instant and of course there's no commitment to do anything.</p>
      <p>You can also come and <a href="/contact/" title="Contact us page">visit our station</a> in Vanbrugh College, where there'll almost always be someone there to talk to you and get you set up.</p>
    </div>
  </div>
</div>
<div class="container-fluid container-padded bg-secondary">
  <h2 class="text-center">Signup today!</h2>
  <div class="container">
    <form name="getInvolvedForm" class="form-getinvolved">
      <div class="row">
        <fieldset id="getinvolved-personal-details" class="col-md-6">
          <legend>I'm…</legend>
          <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname" class="form-control">
          </div>
          <div class="form-group">
            <label for="sname">Last Name</label>
            <input type="text" id="sname" name="sname" class="form-control">
          </div>
          <div class="form-group">
            <label for="text">York Email</label>
            <div class="input-group">
              <input type="text" id="email" name="email" class="form-control" placeholder="abc123">
              <span class="input-group-addon">@york.ac.uk</span>
            </div>
          </div>
          <div class="form-group">
            <label for="phone">Phone Number (Optional)</label>
            <input type="text" id="phone" name="phone" class="form-control">
          </div>
          <div class="form-group">
            <label for="sex">Gender</label>
            <select id="sex" name="sex" class="form-control">
              <option value="o">Other</option>
              <option value="m">Male</option>
              <option value="f">Female</option>
            </select>
          </div>
          <div class="form-group">
              <label for="college">College</label>
              <select id="college" name="college" class="form-control">
                <option value="10">Unknown</option>
                <option value="1">Alcuin</option>
                <option value="11">Constantine</option>
                <option value="2">Derwent</option>
                <option value="3">Goodricke</option>
                <option value="4">Halifax</option>
                <option value="5">James</option>
                <option value="6">Langwith</option>
                <option value="7">Vanbrugh</option>
                <option value="8">Wentworth</option>
              </select>
          </div>
        </fieldset>
        <fieldset id="getinvolved-interest" class="col-md-6">
          <legend>I'm interested in the…</legend>
            <input type="checkbox" name="interest" id="interest-news" value="24">
            <label for="interest-news">News Team</label>
            <br>
            <input type="checkbox" name="interest" id="interest-speech" value="28">
            <label for="interest-speech">Speech Team</label>
            <br>
            <input type="checkbox" name="interest" id="interest-music" value="29">
            <label for="interest-music">Music Team</label>
            <br>
            <input type="checkbox" name="interest" id="interest-production" value="26">
            <label for="interest-production">Production Team</label>
            <br>
            <input type="checkbox" name="interest" id="interest-events" value="53">
            <label for="interest-events">Events Team</label>
            <br>
            <input type="checkbox" name="interest" id="interest-marketing" value="25">
            <label for="interest-marketing">Marketing Team</label>
            <br>
            <input type="checkbox" name="interest" id="interest-programming" value="27">
            <label for="interest-programming">Programming Team</label>
            <br>
            <input type="checkbox" name="interest" id="interest-engineering" value="22">
            <label for="interest-engineering">Engineering Team</label>
            <br>
            <input type="checkbox" name="interest" id="interest-computing" value="23">
            <label for="interest-computing">Computing Team</label>
        </fieldset>
      </div>
    </form>
  </div>
</div>
{{end}}
