{{define "title"}}{{.PageContext.ShortName}} | Get Involved{{end}}
{{define "open-graph"}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{.PageContext.MainTwitter}}">
<meta name="twitter:creator" content="@{{.PageContext.MainTwitter}}">
<meta property="og:locale" content="en_GB">
<meta property="og:type" content="website">
<meta property="og:title" content="Want to help York make incredible award winning radio?">
<meta property="og:description" content="Want to join one of the best, largest and most diverse societies university has to offer? Whether you to hear your voice played out on the airwaves, break the biggest news stories as they happen, play with the state-of-the-art studios and computer systems, or just plain have fun, then URY is the place for you.">
<meta property="og:image" content='{{.PageContext.FullURL}}{{url "/images/open_graph-get_involved.jpg"}}'>
<meta property="og:url" content='{{.PageContext.FullURL}}{{url "/getinvolved"}}'>
{{end}}

{{define "content"}}
{{with .PageData}}
<div class="container-fluid banner-2 text-overlay">
  <div class="container container-padded">
    <div class="row justify-content-center">
      <div class="text-center">
        <h1 class="display-1">Radio</h1>
        <h2 class="display-4">By Students, For Students.</h2>
        <br>
        <a href="/yusu" class="btn btn-primary-inverse btn-xl">Buy Membership</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid container-padded text-center bg-off-white">
  <div class="container container-padded">
    <div class="row">
      <div class="col">
        <h4>Want to help York make incredible <strong>award winning</strong> radio?</h4>
        <h4>Want to join one of the best, largest and most diverse societies the university has to offer?</h4>
        <p>Whether you want to hear your voice played out on the airwaves, break the biggest news stories as they happen, play with state-of-the-art studios and computer systems, or just plain have fun, then URY is the place for you.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-padded bg-secondary" id="signUp">
  <div class="container container-padded">
    <h1>Sign up today!</h1>
    <hr>
    <form id="getInvolvedForm" class="form-getinvolved" action="/signup/" method="post">
      <div class="row">
        <fieldset id="getinvolved-personal-details" class="col-md-6">
          <legend>I'm…</legend>
          <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname" class="form-control">
          </div>
          <div class="form-group">
            <label for="sname">Last Name</label>
            <input type="text" id="sname" name="sname" class="form-control">
          </div>
          <div class="form-group">
            <label for="eduroam">York Email</label>
            <div class="input-group">
              <input type="text" id="eduroam" name="eduroam" class="form-control" placeholder="abc123">
              <span class="input-group-addon">@york.ac.uk</span>
            </div>
          </div>
          <div class="form-group">
            <label for="phone">Phone Number (Optional)</label>
            <input type="text" id="phone" name="phone" class="form-control">
          </div>
          <div class="form-group">
            <label for="college">College</label>
            <select id="college" name="collegeid" class="form-control">
              {{range .Colleges}}
                <option value="{{.CollegeId}}">{{.CollegeName}}</option>
              {{end}}
            </select>
          </div>
        </fieldset>
        <fieldset id="getinvolved-interest" class="col-md-6">
          <legend>I'm interested in…</legend>
          {{range $listID, $Team := .ListTeamMap}}
            <input type="checkbox" name="interest" id="interest-{{$Team.Alias}}" value="{{$listID}}">
            <label for="interest-{{$Team.Alias}}" title="{{html $Team.Description}}">{{$Team.Name}}</label>
            <br>
          {{end}}
          <br>
        </fieldset>
      </div>
      <div class="row justify-content-center">
        <input type="submit" class="btn btn-primary btn-lg">
      </div>
    </form>
  </div>
</div>

<div class="container-fluid container-padded  bg-third">
  <div class="container container-padded">
      <h2>Frequently Asked Questions</h2><br>
      <div> {{/* Prevents bug where p would appear inline with h2 */}}
        
        {{ range .FAQs.FAQs}}
          <button type="button" class="faq-question">{{.Question}}</button>
          <div class="faq-answer bg-off-white">
            <br>
            <p>{{.Answer}}</p>
            {{ if .SeeMore }}
              <a href="/{{ .SeeMore }}">Click here to learn more...</a>
              <br><br>
            {{ end }}
          </div>
        {{ end}}
      </div>
  </div>
</div>

{{end}}
<script src='{{url "/js/faq.js"}}'></script>
{{end}}
