{{define "content"}}
	{{with .PageData}}

	<div class="container outer now-next">
    	<div class="container">

			{{template "current_and_next" .}}

			<!-- BANNER TEMPLATE GOES HERE -->

		</div><!-- /.container -->
	</div><!-- /outer containter -->

	<div class="container">

		{{range .Banners}}
		<a href="{{.Target}}">
			<img alt="{{.Alt}}" src="https://ury.org.uk{{.URL}}">
		</a>
		{{end}}

	</div>

	{{end}}
{{end}}
