{{define "title"}}{{.PageContext.ShortName}} | About{{end}}

{{define "open-graph"}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{.PageContext.MainTwitter}}">
<meta name="twitter:creator" content="@{{.PageContext.MainTwitter}}">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_GB">
<meta property="og:title" content="{{.PageContext.LongName}} | About">
<meta property="og:description" content="{{.PageContext.SiteDescription}}">
<meta property="og:image" content="{{.PageContext.FullURL}}{{url "/images/open_graph-general.jpg"}}">
<meta property="og:url" content="{{.PageContext.FullURL}}{{url "/about/"}}">
{{end}}

{{define "content"}}
<div class="container-fluid banner-2">
  <div class="container container-padded">
    <div class="row align-items-center text-center">
      <div class="col">
        <h1 class="display-3">{{.PageContext.ODName}}</h1>
        <h2 class="display-5">Refreshing content when you need it the most.</h2>
      </div>
    </div>
  </div>
</div>
<div id="index-just-missed" class="container-fluid container-padded bg-primary">
  <h2>You Just Missed...</h2>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<div id="index-videos" class="container-fluid container-padded bg-secondary">
  <h2>{{.PageContext.ShortName}} on Youtube</h2>
  <div id="youtube-video-slider" class="row scroll-horiz">
  </div>
</div>
<div id="index-uryplayer" class="container-fluid container-padded bg-third">
  <h2>Latest Podcasts</h2>
  <div class="row scroll-horiz">
    {{range .PageData.LatestPodcasts}}
    <div class="col-11 col-sm-7 col-md-3">
      <a href="{{.MicrositeLink.URL}}" title="URY Podcast: {{.Title}}">
        <div class="card podcast">
          <img class="card-img-top img-fluid" src="https://ury.org.uk{{.Photo}}" alt="URY Podcast: {{.Title}}">
          <div class="card-block bg-primary">
            <h4 class="card-title ellipsis">{{.Title}}</h4>
            <h5>{{.Time.Format "Monday, _2 Jan 2006"}}</h5>
            <p class="card-text ellipsis">{{html .Description}}</p>
          </div>
        </div>
      </a>
    </div>
    {{end}}
  </div>
</div> <!-- /outer containter -->
<div class="container-fluid container-padded bg-off-white">
	<div class="container container-padded">
    <h1 class="text-center">Welcome to URY!</h1>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <h2>Who are URY?</h2>
        <p>{{.PageContext.SiteDescription}}</p>
        <p>The station is run by students for students, meaning the people behind the station understand what the listenership want to hear.</p>
        <p>With no playlist and no set format to many of our shows, our presenters have the chance to try whatever they like, as long as it's legal!</p>
      </div>
      <div class="col-md-6 col-lg-3">
        <h2>Where are URY?</h2>
        <p>URY's studios lie at the very heart of the Campus in our own building at Vanbrugh College.</p>
        <p>But URY's real presence is felt outside of the studio, around the campus at major University and Student Union events, whether we're covering live music, recruiting new Freshers or reporting on major news events.</p>
        <p><a href="{{url "/contact/#map"}}">Find us on a map!</a></p>
      </div>
      <div class="col-md-6 col-lg-3">
        <h2>Our Teams</h2>
        <p>Behind the scenes, the main activities involved in running the station are broken down in teams, which contain officers who are responsible for specific areas of station activity.</p>
        <p>URY is proud to have a large active membership, and encourages people to get involved, no matter what they want to do or how much time they can commit.</p>
        <p><a href="#">Find out more about our teams!</a></p>
      </div>
      <div class="col-md-6 col-lg-3">
        <h2>Our History</h2>
        <p>URY has a rich history of pioneering broadcasting, beginning in 1968 when URY became the UK's first legal independent radio station. URY's achievements over the years include numerous awards, a launch show hosted by John Peel, special FM broadcasts and numerous charity events.</p>
        <p>In 2005, URY obtained national recognition of its achievements by being named BBC Radio One Student Station of the Year.</p>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "footer-scripts"}}
<!-- Youtube slider script -->
<script>
var youtubeAPIKey = {{.PageContext.Youtube.APIKey}};
var youtubePlaylistID = "{{.PageContext.Youtube.PlaylistID}}";
</script>
<script src='{{url "js/index.js"}}'></script>
<script src="https://apis.google.com/js/client.js?onload=onGoogleLoad"></script>
{{end}}
