{{define "title"}}{{.PageContext.ShortName}} | {{.PageContext.ODName}}{{end}}

{{define "open-graph"}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{.PageContext.MainTwitter}}">
<meta name="twitter:creator" content="@{{.PageContext.MainTwitter}}">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_GB">
<meta property="og:title" content="{{.PageContext.LongName}} | About">
<meta property="og:description" content="{{.PageContext.SiteDescription}}">
<meta property="og:image" content="{{.PageContext.FullURL}}{{url "/images/open_graph-general.jpg"}}">
<meta property="og:url" content="{{.PageContext.FullURL}}{{url "/about/"}}">
{{end}}

{{define "content"}}
<div class="container-fluid on-demand">
  <div class="container container-padded">
    <div class="row align-items-center text-center">
      <div class="col">
        <h1 class="display-3">{{.PageContext.ODName}}</h1>
        <h2 class="display-5">Refreshing content when you need it the most.</h2>
      </div>
    </div>
  </div>
</div>
<div id="index-just-missed" class="container-fluid container-padded bg-primary">
  <h2>You Just Missed...</h2>
  <div class="row scroll-horiz">
    {{range .PageData.LatestTimeslots}}
      <div class="col-11 col-sm-7 col-md-5 col-lg-4">
        <div class="row">
          <div class="col-md-4">
            <img class="card-img-top img-fluid" src="
            {{if .Season.ShowMeta.Photo}}
            https://ury.org.uk{{.Season.ShowMeta.Photo}}
            {{else}}
              /images/show-current.png
            {{end}}
          " alt="{{.Title}} Logo">
          </div>
          <div class="col-md-8">
            <div class="card-block bg-primary">
              <h4 class="card-title ellipsis"><a href="/schedule/shows/timeslots/{{.TimeslotID}}/">{{.Title}}</a></h4>
              <h5>{{.StartTime.Format "Monday, _2 Jan 2006 - 15:04"}} - {{.Duration}}</h5>
              <p class="card-text ellipsis">{{html .Description}}</p>
              <a href="/schedule/shows/timeslots/{{.TimeslotID}}/">Listen back...</a>
            </div>
          </div>
        </div>
      </div>
    {{end}}
  </div>
</div>
<div id="index-videos" class="container-fluid container-padded bg-secondary">
  <h2>{{.PageContext.ShortName}} on Youtube</h2>
  <div id="youtube-video-slider" class="row scroll-horiz">
  </div>
</div>
{{if .PageData.LatestPodcasts}}
<div id="index-uryplayer" class="container-fluid container-padded bg-third">
  <h2 class="text-left">Latest Podcasts</h2><a href="podcasts/" class="text-right" title="View All Podcasts">View all Podcasts</a>
  <div class="row scroll-horiz">
    {{range .PageData.LatestPodcasts}}
    <div class="col-11 col-sm-7 col-md-3 col-xl-2">
      <a href="{{.MicrositeLink.URL}}" title="URY Podcast: {{.Title}}">
        <div class="card podcast">
          <img class="card-img-top img-fluid" src="https://ury.org.uk{{.Photo}}" alt="URY Podcast: {{.Title}}">
          <div class="card-body bg-secondary">
            <h4 class="card-title ellipsis">{{.Title}}</h4>
            <h5>{{.Time.Format "Monday, _2 Jan 2006"}}</h5>
            <p class="card-text ellipsis">{{html .Description}}</p>
          </div>
        </div>
      </a>
    </div>
    {{end}}
  </div>
</div>
{{end}}
{{end}}

{{define "footer-scripts"}}
<!-- Youtube slider script -->
<script>
var youtubeAPIKey = {{.PageContext.Youtube.APIKey}};
var youtubePlaylistID = "{{.PageContext.Youtube.PlaylistID}}";
</script>
<script src='{{url "/js/index.js"}}'></script>
<script src="https://apis.google.com/js/client.js?onload=onGoogleLoad"></script>
{{end}}
