{{define "content"}}

	{{with .PageData}}

		<div class="container outer header-large current-next">
		    <div class="container mobile-hide">

				{{template "current_and_next" .}}

			</div><!-- /.container -->
		</div><!-- /outer containter -->


		<div class="container outer people-content">

		  <div class="row">
	        <div class="col-lg-4 people-sidebar">
	        	<img class="img-circle img-responsive people-profile" src="
					      
					      {{if .ProfilePicture.Url}}
									https://ury.org.uk{{.ProfilePicture.Url}}
								{{else}}
									/images/people-profile.jpg
								{{end}}

							" alt="Photo of 
								{{.Name}}
							">
	          	<h1 class="mobile-only">
	          		{{.Name}}
	          	</h1>
	          	<h3>Shows: 10</h3><h3>Hours: 10</h3>
	          	<h2>Credit</h2>
	          <div class="row">
	          	{{range .ShowCredits}}
								<div class="col-xs-4">
		          		<a href="{{.MicroSiteLink.URL}}" title="View the {{.Title}} webpage.">
		          			<img class="img-responsive" src="/images/show-logo.png" alt="{{.Title}} logo." />
		          		</a>
	          		</div>
							{{end}}
	          </div>
	        </div>

	        <div class="col-lg-8">
	          <h1 class="mobile-hide">
	        	{{.Name}}
	          </h1>
	          <div class="people-bio">
				  <h2>Bio</h2>
				  <p>
				  	{{html .Bio}}
				  </p>

					<h2>
						Officerships
					</h2>

					<ul>
						{{range .Officerships}}

						<li>
							{{.OfficerName}} - from {{.FromDate.Format "2006-01-02"}} to
							{{if .TillDateRaw}}
								{{.TillDate.Format "2006-01-02"}}
							{{else}}
								current
							{{end}}
						</li>

						{{end}}
					</ul>

			  </div>
	        </div>
	      </div>

	    </div> <!-- /outer containter -->

	{{end}}

{{end}}
