{{define "content"}}

	{{with .PageData}}

		<div class="container">

			<h1>
				{{.Name}}
			</h1>

			<p>
				{{.Bio}}
			</p>

			<div class="row">
				<div class="col-sm-2">
					<!-- @TODO: Change the URL -->
					<img class="img-responsive" src="https://ury.org.uk{{.ProfilePicture.Url}}">
				</div>
			</div>

			{{range .Officerships}}

				{{.OfficerName}}

			{{end}}

		</div><!-- /.container -->

	{{end}}

{{end}}
