{{define "title"}}{{.PageContext.ShortName}} | {{.PageContext.ODName}} | Podcasts{{end}}

{{define "content"}}

<div class="container-fluid header-medium on-demand">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col">
        <a href="/ontap" title="Goto {{.PageContext.ShortName}} {{.PageContext.ODName}}">
        <img class="pageTitleImage" src="/images/OnTap.svg"/></a>
        <h2 class="display-5">The power of podcasts in the palm of your hand.</h2>
      </div>
    </div>
  </div>
</div>

{{with .PageData}}
<div class="container-fluid podcasts-container container-padded bg-white">
  <nav class="row nav justify-content-between">
    <span>
      <a class="nav-link
        {{if eq .PageNumber 1}}
          disabled
        {{end}}
      " href='{{url "/podcasts/"}}page/{{.PageNumberPrev}}'>&larr; Previous page</a>
      <a class="nav-link
      {{if eq .PageNumber 1}}
        disabled
      {{end}}
      " href='{{url "/podcasts/"}}'>Latest</a>
    </span>
    <span>
    Page {{.PageNumber}}
    </span>
    <span>
    {{if .PageNext}}
      <a class="nav-link" href='{{url "/podcasts/"}}page/{{.PageNumberNext}}'>Next page &rarr;</a>
    {{end}}
    </span>
  </nav>
  <hr>
  {{range .Podcasts}}
  <div class="row">
    <div class="mobile-hide col-12 col-md-3 col-lg-2">
    <a href="{{.MicrositeLink.URL}}/"><img class="img-fluid podcast-list-img" src='
        {{if .Photo}}
              {{$.PageContext.FullURL}}{{.Photo}}
        {{else}}
              {{url "/images/default_show_profile.png"}}
        {{end}}
      ' alt="{{.Title}} Logo"></a>
    </div>
    <div class="col-12 col-md-9 col-lg-10">
      <h4>
        <a href="{{.MicrositeLink.URL}}/">{{.Title}}</a>
      </h4>
      <h5>
        {{.Time.Format "Monday, _2 Jan 2006"}}
      </h5>
      <p class="ellipsis">{{html .Description}}</p>
    </div>
  </div>
  <hr>
  {{else}}
  <p>
    We haven't got any podcasts right now, please try again later.
  </p>
  {{end}}

  <nav class="row nav justify-content-between">
    <span>
      <a class="nav-link
        {{if gt .PageNumber 1}}
          disabled
        {{end}}
      " href='{{url "/podcasts/"}}page/{{.PageNumberPrev}}'>&larr; Previous page</a>
      <a class="nav-link
      {{if gt .PageNumber 1}}
        disabled
      {{end}}
      " href='{{url "/podcasts/"}}'>Latest</a>
    </span>
    <span>
    Page {{.PageNumber}}
    </span>
    <span>
    {{if .PageNext}}
      <a class="nav-link" href='{{url "/podcasts/"}}page/{{.PageNumberNext}}'>Next page &rarr;</a>
    {{end}}
    </span>
  </nav>
</div><!-- /.container container-padded -->

{{end}}
{{end}}
