{{define "title"}}{{.PageContext.ShortName}} | {{.PageContext.ODName}} | {{with .PageData}} {{.Podcast.Title}} {{end}} Podcast {{end}}


{{define "content"}}

  <div class="container-fluid on-demand">
    <div class="container container-padded">
        <div class="row align-items-end text-center">
          <div class="col">
            <h1 class="display-5 header-title">
                <a href="{{url "/ontap/"}}" title="Go back to {{.PageContext.ODName}}">
                  {{- .PageContext.ShortName }} {{.PageContext.ODName -}}
                </a>
            </h1>
            <h2 class="display-4">
              Podcast
            </h3>
          </div>
        </div>
    </div>
  </div>

  {{with .PageData}}
  <div class="container-fluid bg-off-white">
    <div class="container container-padded">
      <div class="row">
        <div class="col-12 col-lg-3">
          <img class="img-fluid show-img" src="
          {{if .Podcast.Photo}}
            https://ury.org.uk{{.Podcast.Photo}}
          {{else}}
            {{url "/images/default_show_profile.png"}}
          {{end}}
            " alt="{{.Podcast.Title}} Logo">
        </div>
        <div class="col-12 col-lg-9">
          <h1>{{.Podcast.Title}}</h1>
          <h5 class="text-muted">{{.Podcast.Time.Format "Monday, _2 Jan 2006"}}</h5>
          <hr>
          <h2>Description</h2>
          <p>{{html .Podcast.Description}}</p>
          <hr>
          <iframe src="player/" class="uryplayer-podcast-embed" frameborder="0">
          </iframe>
          <hr>
  {{end}}
          <div class="row justify-content-between">
            <div class="col-auto mr-auto mw-100 overflow-hidden mb-3">
              <span class="h5 mg-right-5">Embed Podcast:</span>
              <a data-toggle="collapse" href="#collapseEmbedCode" role="button" aria-expanded="false" aria-controls="collapseEmbedCode">View Code</a>
            </div>
            <div class="col-auto mr-auto mw-100 mb-3 share-links">
              <span class="h5 mg-right-5">Share:</span>
              <a href="#"
                  data-type="twitter"
                  data-url="{{.PageContext.FullURL}}{{url "/podcasts/"}}{{.PageData.Podcast.PodcastID}}/"
                  {{if .PageData.Podcast.Photo}}
                      data-media="{{.PageContext.FullURL}}{{.PageData.Podcast.Photo}}"
                  {{end}}
                  data-description="Checkout {{.PageData.Podcast.Title}} on {{.PageContext.LongName}}"
                  data-via="{{.PageContext.MainTwitter}}"
                  class="prettySocial fab fa-twitter">
              </a>

              <a href="#"
                  data-type="facebook"
                  data-url="{{.PageContext.FullURL}}{{url "/podcasts/"}}{{.PageData.Podcast.PodcastID}}/"
                  data-title="{{.PageData.Podcast.Title}} | {{.PageContext.ShortName}}"
                  data-description="{{.PageData.Podcast.Description}}"
                  {{if .PageData.Podcast.Photo}}
                      data-media="{{.PageContext.FullURL}}{{.PageData.Podcast.Photo}}"
                  {{end}}
                  class="prettySocial fab fa-facebook">
              </a>

              <a href="#"
                  data-type="googleplus"
                  data-url="{{.PageContext.FullURL}}{{url "/podcasts/"}}{{.PageData.Podcast.PodcastID}}/"
                  data-description="{{.PageData.Podcast.Description}}"
                  {{if .PageData.Podcast.Photo}}
                      data-media="{{.PageContext.FullURL}}{{.PageData.Podcast.Photo}}"
                  {{end}}
                  class="prettySocial fab fa-google">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-third collapse" id="collapseEmbedCode">
    <div class="container container-padded">
      <h2>Embed this podcast...</h2>
      <div class="row">
        <div class="col-12 col-lg-6">
          <p>Want to put our podcast on your blog or website? Just copy the HTML code below...</p>
          <textarea class="uryplayer-podcast-code" readonly="readonly" onclick="this.focus(); this.select();" style="border: none;" type="text" cols="30"><iframe width=&quot;500&quot; height=&quot;500&quot; src=&quot;https://ury.org.uk/podcasts/{{.PageData.Podcast.PodcastID}}/player/&quot; frameborder=&quot;0&quot; allowfullscreen > </iframe>
          </textarea>
        </div>
      </div>
    </div>
  </div>
{{end}}
{{define "footer-scripts"}}
<script src="{{url "/js/show.js"}}"></script>
<script src="{{url "/js/jquery.prettySocial.min.js"}}"></script>
<script type="text/javascript" class="source">
  $(".prettySocial").prettySocial();
</script>
{{end}}
