{{define "title"}}{{.PageContext.ShortName}} | {{.PageContext.ODName}} | Podcasts{{end}}
{{define "content"}}


<div class="container-fluid on-demand">
		<div class="container container-padded">
				<div class="row align-items-end text-center">
					<div class="col">
						<h1 class="display-5 header-title">
								<a href="{{url "/ontap/"}}" title="Go back to {{.PageContext.ODName}}">
									{{- .PageContext.ShortName }} {{.PageContext.ODName -}}
								</a>
            </h1>
            <h2 class="display-3">
              Podcasts
            </h3>
					</div>
				</div>
		</div>
  </div>

{{with .PageData}}
<div class="container container-padded bg-off-white pt-5 mt-5">
  <nav class="row nav justify-content-between">
    <span>
      <a class="nav-link
        {{if gt .PageNumber 1}}
          disabled
        {{end}}
      " href="{{url "/podcasts/"}}page/{{.PageNumberPrev}}">&larr; Previous page</a>
      <a class="nav-link
      {{if gt .PageNumber 1}}
        disabled
      {{end}}
      " href="{{url "/podcasts/"}}">Latest</a>
    </span>
    <span>
    Page {{.PageNumber}}
    </span>
    <span>
    {{if .PageNext}}
      <a class="nav-link" href="{{url "/podcasts/"}}page/{{.PageNumberNext}}">Next page &rarr;</a>
    {{end}}
    </span>
  </nav>
  <div class="pageination">


  </div>
  <div class="pt-3" style="text-align: right;">All Podcasts</div>
  <hr>
  {{range .Podcasts}}
  <div class="row">
    <div class="mobile-hide col-12 col-md-3 col-lg-2">
      <img class="img-fluid" src="
      {{if .Photo}}
            https://ury.org.uk{{.Photo}}
      {{else}}
            /images/podcast.png
      {{end}}

        " alt="{{.Title}} Logo">
    </div>
    <div class="col-12 col-md-9 col-lg-10">
      <h4>
        <a href="{{.MicrositeLink.URL}}/">{{.Title}}</a>
      </h4>
      <h5>
        {{.Time.Format "Monday, _2 Jan 2006"}}
      </h5>
      <p class="ellipsis">{{html .Description}}</p>
    </div>
  </div>
  <hr>
  {{else}}
  <p>
    We haven't got any podcasts right now, please try again later.
  </p>
  {{end}}
</div><!-- /.container container-padded -->

{{end}}
{{end}}
