{{define "title"}}{{.PageContext.ShortName}} | Search: {{.PageData.Term}}{{end}}
{{define "content"}}
{{with .PageData}}

<div class="container pt-5">
	{{if .Searching}}
        <h2>
            {{.NumResults}} Results for {{.Term}}
        </h2>
        <hr>
		{{range .Results}}
            <h4>
				<a href="/schedule/shows/{{.ShowID}}/">{{.Title}}</a>
            </h4>
		    {{html .Description}}
            <hr>
		{{else}}
            <p>
                No Results
            </p>
		{{end}}

	{{else}}
	{{end}}

</div><!-- /.container -->

{{end}}
{{end}}
