{{> partials/header }}

<div class="container">

    <form method="GET" action="{{BaseURL}}">

        <input name="term" type="text" value="{{Term}}">

        <button type="submit">Search</button>

    </form>

	{{#Searching}}
        <p>
            We are searching
        </p>

        <h2>
            #{{NumResults}} Results
        </h2>
		{{#Results}}
            <p>
				{{Title}}
            </p>

            <p>
				{{Description}}
            </p>
		{{/Results}}
		{{^Results}}
            <p>
                No Results
            </p>
		{{/Results}}

	{{/Searching}}
	{{^Searching}}
        <p>
            We are not searching
        </p>
	{{/Searching}}

</div><!-- /.container -->

{{> partials/footer }}
