{{define "title"}}{{.PageContext.ShortName}} | Search: {{.PageData.Term}}{{end}}
{{define "content"}}
{{with .PageData}}

<div class="container container-padded pt-5 mt-5">
    <form action="{{url "/search/"}}" class="form-inline ml-auto search-box" style="font-size:2rem;">
        <button type="submit" class="" alt="Submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        <div class="col px-0">
            <input type="text" name="term" placeholder="Search..." value="{{.Term}}" width="100%">

            <div class="source-group">
                <input type="radio" id="sourceShows" name="source" value="show" {{if eq .Source "show"}}checked{{end}}>

                <label for="sourceShows">Shows</label>
                <input type="radio" id="sourcePodcasts" name="source" value="podcast" {{if eq .Source "podcast"}}checked{{end}}>
                <label for="sourcePodcasts">Podcasts</label>
            </div>
        </div>
    </form>
    {{if gt (len .ErrorMsg) 0}}
    <div class="alert mt-3 alert-warning">{{.ErrorMsg}}</div>
    {{end}}
	{{if .Searching}}
        <div class="pt-3" style="text-align: right;">{{.NumResults}} Results</div>
        <hr>
        {{if .ShowResults }}
            <h1> Shows</h1>
            {{range .ShowResults}}
                <h5>
                    <a href="/schedule/shows/{{.ShowID}}/">{{.Title}}</a>
                </h5>
                {{html .Description}}
                <hr>
            {{end}}
        {{else if .PodcastResults}}
            <h1> Podcasts</h1>
            {{range .PodcastResults}}
                <h5>
                    <a href="/podcasts/{{.PodcastID}}/">{{.Title}}</a>
                </h5>
                {{html .Description}}
                <hr>
            {{end}}
        {{end}}
        {{if eq .NumResults 0}}
            <h4 class="text-center m-5">
                No search results. Please try a different search term.
            </h4>
        {{end}}
	{{else}}
	{{end}}

</div><!-- /.container container-padded -->

{{end}}
{{end}}
