{{define "title"}}{{.PageContext.ShortName}} | {{with .PageData}}{{.Season.Title}}{{end}}{{end}}

{{define "open-graph"}}
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@URY1350"/>
	<meta name="twitter:creator" content="@URY1350"/>
	<meta property="og:locale" content="en_GB"/>
	<meta property="og:title" content="{{.PageContext.ShortName}} | {{.PageData.Season.Title}}"/>
	<!-- @TODO: Add Season image from Show. -->
	<meta property="og:image" content="{{.PageContext.FullURL}}/images/open_graph-general.jpg"/>
{{end}}

{{define "content"}}
{{with .PageData}}

<div class="container">

	<h1>
		{{.Season.Title}}
	</h1>

	<p>
		{{html .Season.Description}}
	</p>

	<h2>
		Episodes
	</h2>

	<ul>
		{{range .Timeslots}}
		<li>
			<a href="/schedule/shows/timeslots/{{.TimeslotID}}/">
				{{.StartTime.Format "Monday, _2 January 2006 at 15:04"}}
			</a>
		</li>
		{{end}}
	</ul>

</div><!-- /.container -->

{{end}}
{{end}}
