{{define "title"}}{{.PageContext.ShortName}} | {{.PageData.Show.Title}}{{end}}

{{define "open-graph"}}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{.PageContext.MainTwitter}}">
<meta name="twitter:creator" content="@{{.PageContext.MainTwitter}}">
<meta property="og:locale" content="en_GB">
<meta property="og:title" content="{{.PageContext.ShortName}} | {{.PageData.Show.Title}}">
{{if .PageData.Show.Photo}}
<meta property="og:image" content="{{.PageContext.FullURL}}{{url .PageData.Show.Photo}}">
{{else}}
<meta property="og:image" content="{{.PageContext.FullURL}}{{url "images/open_graph-general.jpg"}}">
{{end}}
<meta property="og:type" content="website">
<meta property="og:url" content="{{.PageContext.FullURL}}{{url "/schedule/shows/"}}{{.PageData.Show.ShowID}}">
<meta property="og:description" content="{{.PageData.Show.Description}}">
{{end}}

{{define "content"}}
{{with .PageData}}
<div class="container-fluid current-next">

</div>
<div class="container-fluid bg-off-white">
  <div class="container p-3">
    <div class="row">
      <div class="col-12 col-sm-5 col-lg-3">
        <img class="img-fluid show-img" src="
        {{- if .Show.Photo -}}
        https://ury.org.uk{{.Show.Photo}}
        {{- else -}}
        /images/show-current.png
        {{- end -}}"
        alt="{{.Show.Title}} Logo">
        <div class="row">
          <div class="col-6 text-center">
            <h6>Seasons: {{len .Seasons}}</h6>
          </div>
          <div class="col-6 text-center">
            <h6>Episodes: {{showCount .Seasons}}</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-7 col-lg-9">
        <h1>{{.Show.Title}}</h1>
        <hr>
        <h2>Description</h2>
        <p>{{html .Show.Description}}</p>
        <hr>
        <div class="row justify-content-end">
{{end}}
          <div class="col-auto share-links">
              <span class="h5 mg-right-5">Share:</span>
              <a href="#"
                  data-type="twitter"
                  data-url="{{.PageContext.FullURL}}/schedule/shows/{{.PageData.Show.ShowID}}"
                  {{if .PageData.Show.Photo}}
                      data-media="{{.PageContext.FullURL}}{{.PageData.Show.Photo}}"
                  {{end}}
                  data-description="Checkout {{.PageData.Show.Title}} on {{.PageContext.LongName}}"
                  data-via="{{.PageContext.MainTwitter}}"
                  class="prettySocial fa fa-twitter">
              </a>

              <a href="#"
                  data-type="facebook"
                  data-url="{{.PageContext.FullURL}}/schedule/shows/{{.PageData.Show.ShowID}}"
                  data-title="{{.PageData.Show.Title}} | {{.PageContext.ShortName}}"
                  data-description="{{.PageData.Show.Description}}"
                  {{if .PageData.Show.Photo}}
                      data-media="{{.PageContext.FullURL}}{{.PageData.Show.Photo}}"
                  {{end}}
                  class="prettySocial fa fa-facebook">
              </a>

              <a href="#"
                  data-type="googleplus"
                  data-url="{{.PageContext.FullURL}}/schedule/shows/{{.PageData.Show.ShowID}}"
                  data-description="{{.PageData.Show.Description}}"
                  {{if .PageData.Show.Photo}}
                      data-media="{{.PageContext.FullURL}}{{.PageData.Show.Photo}}"
                  {{end}}
                  class="prettySocial fa fa-google">
              </a>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{with .PageData}}
{{if .CreditsToUsers}}
<div class="container-fluid bg-secondary">
  <div class="container pt-3">
    <h2>Credits</h2>
    <hr>
    <div class="row">
      {{range $key, $value := .CreditsToUsers}}
      <div class="col-sm-4 pb-3">
        {{if gt (len $value) 1}}
          <h4>{{plural $key}}</h4>
        {{else}}
          <h4>{{$key}}</h4>
        {{end}}
        {{range $value}}
        <a href="/people/{{.MemberID}}/">{{.Fname}} {{.Sname}}</a> <br>
        {{end}}
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}
<div class="container-fluid bg-third">
  <div class="container show-selector">
    <div class="row">
{{end}}
      <div class="col-12 col-md-6 col-lg-4 p-4">
        <h1>{{.PageContext.ShortName}} {{.PageContext.ODName}}</h1>
        <h3><small>Explore the show catalogue, and listen back to your favorite episodes!</small></h3>
        <a href="/ontap/">View all of our on demand content...</a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 p-4 bg-off-white">
        <h2>
          Seasons
        </h2>
        <table id="seasons" class="table seasons-table">
          <thead>
            <tr>
              <th>SeasonID</th>
              <th>Season</th>
              <th>First Episode</th>
              <th>Episodes</th>
            </tr>
          </thead>
          <tbody>
          {{range .PageData.Seasons}}
            {{if ne .SeasonNum 0}}
              <tr class="timeslot-filter-season" data-SeasonID="{{.SeasonID}}">
                <td>{{.SeasonID}}</td>
                <td>{{.SeasonNum}}</td>
                <td>{{.FirstTime.Format "Monday, _2 Jan 2006 - 15:04"}}</td>
                <td>
                  {{.NumEpisodes.Value}} Episode(s)
                </td>
              </tr>
            {{end}}
          {{end}}
          </tbody>
        </table>
      </div>
      <div id="timeslot-latest" class="col-12 col-md-6 col-lg-4 p-4 bg-white">
        <h3>Latest Episode</h3>
        {{if ne .PageData.LatestTimeslot.TimeslotID 0}}
        <p>Catchup with the latest episode from <strong>{{.PageData.LatestTimeslot.StartTime.Format "Monday, _2 Jan 2006"}}</strong></p>
        {{if .PageData.LatestMixcloud}}
          <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?feed={{.PageData.LatestTimeslot.MixcloudStatus}}&hide_cover=1&light=1"
            frameborder="0"></iframe>
        {{else}}
          <p>
            <strong>This episode isn't available on {{.PageContext.ShortName}} {{.PageContext.ODName}}, sorry about that.</strong>
          </p>
        {{end}}
        <a href="/schedule/shows/timeslots/{{.PageData.LatestTimeslot.TimeslotID}}/">View full episode information...</a>
        {{else}}
          <p>
            <strong>No episodes of this show have been broadcast yet.</strong>
          </p>
        {{end}}
      </div>
{{with .PageData}}
      <div id="timeslot-list" class="col-12 col-md-6 col-lg-4 p-4 bg-white">
        <h2 class="inline">Episodes</h2><h3 id="timeslot-season-title" class="inline"></h3>
        <table id="timeslots" class="table timeslots-table">
          <thead>
            <tr>
              <th>SeasonID</th>
              <th>Season</th>
              <th>Episode</th>
              <th>Broadcast Time</th>
            </tr>
          </thead>
          <tbody>
          {{range .Timeslots}}
            {{if ne .TimeslotNum 0}}
              <tr>
                <td>{{.Season.SeasonID}}</td>
                <td>{{.Season.SeasonNum}}</td>
                <td>{{.TimeslotNum}}</td>
                <td><a href="/schedule/shows/timeslots/{{.TimeslotID}}/">{{.StartTime.Format "Monday, _2 Jan 2006 at 15:04"}}</a></td>
              </tr>
            {{end}}
          {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> <!-- /outer containter -->
{{end}}
{{end}}
{{define "footer-scripts"}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.16/api/fnFindCellRowIndexes.js"></script>
<script src="{{url "/js/show.js"}}"></script>
<script src="{{url "/js/jquery.prettySocial.min.js"}}"></script>
<script type="text/javascript" class="source">
  $(".prettySocial").prettySocial();
</script>
{{end}}
