{{define "open-graph" .}}
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@URY1350"/>
	<meta name="twitter:creator" content="@URY1350"/>
	<meta property="og:locale" content="en_GB"/>
	<meta property="og:title" content="{{.longName}} | {{.Show.Title}}"/>
	{{if .Show.Photo}}
		<meta property="og:image" content="https://ury.org.uk{{.Show.Photo}}"/>
	{{else}}
		<meta property="og:image" content="https://ury.org.uk/images/open_graph-general.jpg"/>
	{{end}}	
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://ury.org.uk/schedule/shows/{{.ShowID}}/"/>

	//@TODO: Remove HTML, so it leaves plain text.
	// <meta property="{{html .Show.Description}}"/>
{{end}}
{{define "content"}}
{{with .PageData}}

	<div class="container-fluid header-large current-next">
		<div class="container mobile-hide">
		</div>
	</div>
	<div class="container-fluid bg-off-white">
		<div class="container">
		  <div class="row">
	        <div class="col-12 col-lg-3">
	        	<img class="img-fluid show-img" src="
						{{if .Show.Photo}}
									https://ury.org.uk{{.Show.Photo}}
						{{else}}
									/images/show-current.png
						{{end}}		

							" alt="{{.Show.Title}} Logo">
              <div class="row">
                <div class="col-6 text-center">
                  <h5>Seasons: {{len .Seasons}}</h5>
                </div>
                <div class="col-6 text-center">
                  <h5>Shows: {{showCount .Seasons}}</h5>
                </div>
              </div>
	        </div>
	        <div class="col-12 col-lg-9">
	          <h1 class="pt-3">
	        	{{.Show.Title}}
	          </h1>
	          <hr>
				  	<h2>Description</h2>
            <p>
						  {{html .Show.Description}}
						</p>
	        </div>
	      </div>
	    </div>
	  </div> <!-- /outer containter -->
	  <div class="container outer page1-credits-people">
	  	{{range .Show.Credits}}
				<a href="/people/{{.User.Memberid}}/">{{.User.Fname}} {{.User.Sname}}</a> <br>
			{{end}}

    </div> <!-- /outer containter -->





<div class="container">


	<h2>
		Presenters
	</h2>
	<p>
		{{range .Show.Credits}}
			<a href="/people/{{.User.Memberid}}/">{{.User.Fname}} {{.User.Sname}}</a> <br>
		{{end}}
	</p>

	<h2>
		Seasons
	</h2>

	<ul>
		{{range .Seasons}}
			<li>
				<a href="/schedule/shows/seasons/{{.SeasonID}}/">Seasion {{.SeasonNum}}: {{.FirstTime.Format "Monday, _2 Jan 2006 at 15:04"}} - {{.NumEpisodes.Value}} Episode(s)</a>
			</li>
		{{end}}
	</ul>

</div><!-- /.container -->








{{end}}
{{end}}
