{{define "title"}}{{.PageContext.ShortName}} | Our Teams{{end}}
{{define "content"}}
  {{with .PageData}}
  <div class="container-fluid banner-2 text-overlay">
    <div class="container container-padded">
      <div class="row justify-content-center">
        <div class="text-center">
          <h1 class="display-3">Our Teams</h1>
          <h2 class="display-4">The people who make URY happen!</h2>
          <br>
          <a href="{{url "/getinvolved/#signUp"}}" class="btn btn-primary-inverse btn-xl">Be part of one!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-primary">
    <div class="container container-padded">
      <h4>Get Involved</h4>
      <p>
       URY has 11 teams of students which look after all aspects of running a radio station. Whether that be creating the content or maintaining the station.</p>
      <p>
      Fancy having your own show or joining a team? Then you start by joining URY and become a paid member.
      </p>
    </div>
  </div>
  <div class="container-fluid bg-third">
    <div class="container container-padded">
      <div class="row">
        {{range .Teams}}
          {{if .Alias}}
          <div class="col-12 col-sm-6 col-lg-4 my-3 team-card">
            <div class="card text-dark">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="{{.Alias}}/" title="Goto the {{.Name}} page.">{{.Name}}</a>
                </h5>
                <p class="card-text">
                {{if .Description}}
                  {{html .Description}}
                {{else}}
                  This team does not currently have a description.
                {{end}}
                </p>
              </div>
              <div class="card-footer">
                <a href="{{.Alias}}/" title="Goto the {{.Name}} page.">Read More...</a>
              </div>
            </div>
          </div>
          {{end}}
        {{end}}
      </div>
    </div>
  </div>
  {{end}}
{{end}}
