{{define "title"}}{{.PageContext.ShortName}} | {{with .PageData.Team}}{{.Name}}{{end}}{{end}}

{{define "open-graph"}}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{.PageContext.MainTwitter}}">
<meta name="twitter:creator" content="@{{.PageContext.MainTwitter}}">
<meta property="og:locale" content="en_GB">
<meta property="og:title" content="{{.PageContext.ShortName}} | Teams | {{.PageData.Team.Name}}">
<meta property="og:image" content='{{.PageContext.FullURL}}{{url "/images/open_graph-general.jpg"}}'>
<meta property="og:type" content="website">
<meta property="og:url" content='{{.PageContext.FullURL}}{{url "/teams/"}}{{.PageData.Team.Alias}}'>
<meta property="og:description" content="{{ stripHtml .PageData.Team.Description}}">
{{end}}

{{define "officer"}}
<div class="col-12 col-sm-6 col-md-3 col-lg-2">
  <a href="/people/{{.User.MemberID}}" title="Goto {{.User.Fname}} {{.User.Sname}}'s profile">
    <div class="user-img my-3">
      <img class="img-fluid" src="https://ury.org.uk{{.User.Photo}}" alt="Photo of {{.User.Fname}} {{.User.Sname}}">
    </div>
    <h4 class="text-center">{{.User.Fname}} {{.User.Sname}}</h4>
  </a>
  <h5 class="text-center">{{.Position.Name}}</h5>
</div>
{{end}}

{{define "content"}}
  {{with .PageData}}
    <div class="container-fluid banner-2 slim text-overlay">
      <div class="container container-padded">
        <div class="row justify-content-center">
          <div class="text-center">
            <a href='{{url "/teams/"}}'> <img class="pageTitleImage" src="/images/Teams.svg" /></a>
            <h2 class="display-5">The people who make URY happen!</h2>
            <br>
            <a href='{{url "/getinvolved/#signUp"}}' class="btn btn-primary-inverse btn-lg">Be part of one!</a>
          </div>
        </div>
      </div>
    </div>
    {{with .Team}}
    <div class="container-fluid">
      <div class="container container-padded">
        <h4 class="display-4">{{.Name}}</h4>
      </div>
    </div>
    {{if .Description}}
    <div class="container-fluid bg-primary">
      <div class="container container-padded">
        <h2>Team Description</h2>
        <p>{{html .Description}}</p>
        <h5><i class="far fa-envelope"></i> <a href="mailto:{{.Alias}}@ury.org.uk" alt="Contact {{.Name}}">{{.Alias}}@ury.org.uk</a></h5>
      </div>
    </div>
    {{end}}
    {{end}}
    {{if len .Team.Officers}}
    <div class="container-fluid bg-secondary">
      <div class="container container-padded">
        <h2>Team Officers</h2>
        <div class="row">
          {{range .Heads}}
            {{template "officer" .}}
          {{end}}
          {{range .Assistants}}
            {{template "officer" .}}
          {{end}}
          {{range .Officers}}
            {{template "officer" .}}
          {{end}}
        </div>
      </div>
    </div>
    {{end}}
    <div class="container-fluid bg-third">
      <div class="container container-padded">
        <h2>Get Involved</h2>
        <p>
          If you have any further questions, please contact the team officers by using the email seen above. You can also come and visit our station in Vanbrugh College, where there'll almost always be someone there to talk to you and will help you to join the team.
        </p>
        <a href='{{url "/getinvolved/"}}' class="btn btn-primary-inverse btn-md">Sign up for URY!</a>
      </div>
    </div>
  {{end}}
{{end}}
