{{define "title"}}{{.PageContext.ShortName}} | Our Teams{{end}}
{{define "content"}}
  {{with .PageData}}
 <div class="container-fluid header-medium teams-banner position-relative">
    <div class="container">
      <div class="row align-items-center text-center">
        <div class="col">
          <img class="pageTitleImage" src="/images/Teams.svg" />
          <h2 class="display-5">The people who make URY happen!</h2>
          <br>
          <a href="{{url "/getinvolved/#signUp"}}" class="btn btn-primary-inverse btn-xl">Join a Team!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-off-white">
    <div class="container container-padded">
      <h1>Get Involved</h1>
      <p>
       URY has {{len .Teams}} teams of students which look after all aspects of running a radio station. Whether that be creating the content or maintaining the station.</p>
      <p>
      Fancy having your own show or joining a team? Start your journey by joining URY and become a paid member.
      </p>
    </div>
  </div>
  <div class="container-fluid bg-off-white">
    <div class="container container-padded">
      <h1>Teams</h1>
      <div class="row justify-content-center">
        {{range .Teams}}
          {{if .Alias}}
          <div class="col-12 col-sm-6 col-lg-6 my-3 team-card">
            <div class="card text-dark">
              <a a href="{{.Alias}}/" title="Goto the {{.Name}} page." class="card-body">
                <h2 class="card-title">
                  {{.Name}}
                </h2>
                <p class="card-text">
                {{if .Description}}
                  {{html .Description}}
                {{else}}
                  This team does not currently have a description.
                {{end}}
                </p>
              </a>
            </div>
          </div>
          {{end}}
        {{end}}
      </div>
    </div>
  </div>
  {{end}}
{{end}}
