{{define "title"}}{{.PageContext.ShortName}} | {{with .PageData.Team}}{{.Name}}{{end}}{{end}}
{{define "officer"}}
<div class="col-12 col-sm-6 col-md-3 col-lg-2">
  <a href="/people/{{.User.MemberID}}" title="Goto {{.User.Fname}} {{.User.Sname}}'s profile">
    <div class="user-img my-3">
      <img class="img-fluid" src="https://ury.org.uk{{.User.Photo}}" alt="Photo of {{.User.Fname}} {{.User.Sname}}">
    </div>
    <h4 class="text-center">{{.User.Fname}} {{.User.Sname}}</h4>
  </a>
  <h5 class="text-center">{{.Position.Name}}</h5>
</div>
{{end}}

{{define "content"}}
  {{with .PageData}}
    <div class="container-fluid banner-2 slim text-overlay">
      <div class="container">
        <div class="row justify-content-center">
          <div class="text-center">
            <h1 class="display-5"><a href="{{url "/teams/"}}" title="View all teams">Our Teams</a></h1>
            <h2 class="display-5">The people who make URY happen!</h2>
            <br>
            <a href="{{url "/getinvolved/#signUp"}}" class="btn btn-primary-inverse btn-lg">Be part of one!</a>
          </div>
        </div>
      </div>
    </div>
    {{with .Team}}
    <div class="container-fluid">
      <div class="container container-padded">
        <h4 class="display-4">{{.Name}}</h4>
      </div>
    </div>
    {{if .Description}}
    <div class="container-fluid bg-secondary">
      <div class="container container-padded">
        <h2>Team Description</h2>
        <p>{{html .Description}}</p>
      </div>
    </div>
    {{end}}
    {{end}}
    <div class="container-fluid bg-third">
      <div class="container container-padded">
        <h2>Team Officers</h2>
        <div class="row">
          {{range .Heads}}
            {{template "officer" .}}
          {{end}}
          {{range .Assistants}}
            {{template "officer" .}}
          {{end}}
          {{range .Officers}}
            {{template "officer" .}}
          {{end}}
        </div>
      </div>
    </div>
    <div class="container-fluid bg-secondary">
      <div class="container container-padded">
        <h2>Get Involved</h2>
        <p>
          URY has 11 teams of students who look after all aspects of running a radio station. Whether that be creating the content or maintaining the station.
        </p>
        <a href="{{url "/getinvolved/#signUp"}}" class="btn btn-primary-inverse btn-lg">Be part of one!</a>
      </div>
    </div>
  {{end}}
{{end}}
