/*
  1. Base
*/
/*
  2. Components
*/
div.player {
  border: 1px solid #8d8d8d;
  background-color: white;
  margin-bottom: 20px;
  max-width: 800px;
  margin: auto;
  color: #8d8d8d;
  position: relative;
}
  div.player:after {
    content: "";
    display: table;
    clear: both; }

div.branding {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  display: inline-block;
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
div.meta-container {
  display: inline-block;
  padding: 10px;
  border-bottom: 1px solid #8d8d8d;
}
  div.meta-container div.song-title {
    font-size: 20px;
    font-weight: 400;

    font-family: "Raleway", sans-serif; }
  div.meta-container div.song-artist {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    margin-top: 10px; }
  div.time-container {
    font-size: 18px;
    padding: 20px;
    display: inline-block;
  }
    div.time-container:after {
      content: "";
      display: table;
      clear: both; }
    div.time-container div.current-time {
      /* float: left; */
      display: inline-block;
      margin: 0 20px;
    }
    div.time-container div.duration {
      /* float: right; */
      display: inline-block;
      margin: 0 20px;
    }

/*
  Small only
*/
@media screen and (max-width: 39.9375em) {
  /* div.meta-container {
    width: 100%; } */
  div.podcast-description {
    display: inline-block;
  }

  div.player img.album-art {
  width: 30%;
  float:left; }
  div.time-container {
    width: calc(100%);
  }
}
/*
  Medium only
*/
/*
  Large Only
*/
@media screen and (min-width: 39.9376em) {
  div.player img.album-art {
    width: 160px;
    height: 160px;
    float:left;
  }
  div.meta-container {
    width: calc(100% - 160px)
  }
  div.meta-container div.song-title {
    max-width: calc(100% - 150px);
  }
  div.podcast-description {
    display: none;
  }
  div.time-container {
    width: calc(100% - 160px)
  }
}
div.podcast-description {
  font-size: 14px;
  padding: 20px;
  border-bottom: 1px solid #8d8d8d;
}

  div.amplitude-play-pause {
    width: 30px;
    height: 33px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background-color: #8d8d8d;
    background-size: cover !important; }
    div.amplitude-play-pause.amplitude-paused {
      background: url("../images/podcast_player/play.svg");}
    div.amplitude-play-pause.amplitude-playing {
      background: url("../images/podcast_player/pause.svg"); }

/*
  Small only
*/
@media screen and (max-width: 39.9375em) {
  div.meta-container {
    width: 100%;
    border-top: 1px solid #8d8d8d;
  }
}

@media screen and (max-width: 63.9375em) {

 }
/*
  Large Only
*/
@media screen and (min-width: 64em) {
  div.meta-container {
    width: calc(100% - 160px);
  }
  progress.amplitude-song-played-progress {
    width: 60%;
  }
}
progress.amplitude-song-played-progress:not([value]) {
  background-color: #999; }

progress.amplitude-song-played-progress {
  background-color: #8d8d8d;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20%;
  height: 5px;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
  height: 8px;
  border: none; }

progress[value]::-webkit-progress-bar {
  background-color: #d7dee3;
  border-radius: 3px; }

progress[value]::-moz-progress-bar {
  background-color: #00a0ff;
  border-radius: 3px; }

progress[value]::-webkit-progress-value {
  background-color: #00a0ff;
  border-radius: 3px; }

/*
  3. Layout
*/
body {
  background-color: transparent; }
  body div#preload {
    display: none; }


/*# sourceMappingURL=app.css.map */
