{{with .EventData}}
BEGIN:VCALENDAR
VERSION:2.0
CALSCALE:GREGORIAN
BEGIN:VTIMEZONE
TZID:Europe/London
X-LIC-LOCATION:Europe/London
BEGIN:DAYLIGHT
TZOFFSETFROM:+0000
TZOFFSETTO:+0100
TZNAME:BST
DTSTART:19700329T010000
RRULE:FREQ=YEARLY;BYMONTH=3;BYDAY=-1SU
END:DAYLIGHT
BEGIN:STANDARD
TZOFFSETFROM:+0100
TZOFFSETTO:+0000
TZNAME:GMT
DTSTART:19701025T020000
RRULE:FREQ=YEARLY;BYMONTH=10;BYDAY=-1SU
END:STANDARD
END:VTIMEZONE
{{range .Events}}
BEGIN:VEVENT
UID:{{.ID}}@events.yums.org.uk
DTSTAMP:{{datetime $.Now}}
ORGANIZER;CN=URY Computing Team:MAILTO:webmaster@ury.org.uk
DESCRIPTION:{{.Description}}
DTSTART:{{.Start}}
DTEND:{{.End}}
URL:https://ury.org.uk/myradio/Events/viewEvent/?eventid={{.ID}}
SUMMARY:{{.Title}}
END:VEVENT
{{end}}
END:VCALENDAR
{{end}}
