$primary-color: rgba(0, 51, 103, 1);
$secondary-color: rgba(1, 26, 50, 1);
$third-color: rgba(2, 33, 63, 1);
$content-bg-1: #e1e1e1;


//font
$base-font-size: 16px;
$mobile-font-size:10px;
$mobile-max-width:770px;


//Current and Next
$current-next-now-bg:#003367;
$current-next-next-bg:rgba(0,51,103,0.85);


