@import "varaibles";
@import "vendor/vendor";
@import "partials/partials";
@import "elements/elements";


.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 16px;
  }
}

/* Space out content a bit */

body {
  padding-top: 49px;

}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header, .footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */

footer {
  color: #777;
  background: $content-bg-1;

  .row {
    min-height: 3em;
  }

}

.index-infobar {
  background: $content-bg-1;
  padding: 3em 0;
  .row {
    margin-right: auto;
    margin-left: auto;
  }
}
.index-infobar hr {
  border-color: $primary-color;
}

.index-videos {
  background: $secondary-color;
  color: #fff;
  .scroll-right {
    background-color: $primary-color;
  }
  
}
.index-uryplayer, .index-videos{
  padding-right:0;
  .scroll-container {
    .scroll-body, .scroll-right {
      display: table-cell;
      vertical-align: middle;
    }
    .scroll-body {
      white-space: nowrap;
      position: relative;
      z-index: 1;
      [class*="row"] {
        overflow-x: scroll;
        overflow-y: hidden; 
        margin-right:-70px;
      }
      [class*="col"] {
        display: inline-block;
        float: none; /* Very important */
        padding-right:0;
      }
      [class*="col"]:last-of-type {
        margin-right:95px;
      }
      .thumbnail {
        border-color:black;
        padding:0;
      }
    }
    .scroll-right {
        padding: 0 10px;
        width:80px;
        font-size: 100px;
        font-weight: 900;
        color: white;
        position: relative;
        z-index: 2;
        opacity: 0.7;
      }
  }
}


.index-uryplayer {
  background: $third-color;
  color: #fff;
  .thumbnail {
    background-color: $primary-color;
    padding: 0;
    .podcast-title {
      margin:0;
      padding:10px;
      font-size: 24px;
    }
    p {
      color: #fff;
      padding:10px;
      white-space: normal;
    }
  }
  .scroll-right {
    background-color: $secondary-color;
  }
}

/* Page 1 is the Shows/People template style of page. */
.page1-content {
  background: $content-bg-1;
}
.page1-title {
  color: $primary-color;
  font-size: 40px;
  font-weight: 300;
}
.page1-subtitle {
  color: $primary-color;
  font-weight: 300;
}
.page1-sidebar {
  padding: 0 30px;
  color: #032e59;
  text-align: center;
}
.page1-sidebar h3 {
  font-weight: 300;
  font-size: 18px;
  display: inline-block;
  padding: 15px 10px;
  border-bottom: #d6d6d6 2px solid;
}
.page1-sidebar h3:first-of-type {
  border-right: #d6d6d6 2px solid;
}
.page1-image {
  border: #e1e1e1 7px solid;
  margin: -100px auto 20px auto;
  max-width: 85%;
}
.page1-sidebar .row div {
  padding: 5px;
}
.page1-bio {
  .page1-title {
    padding: 0 0 10px 40px;
  }
	.page1-bio-box {
  	background: $secondary-color;
  	color: #fff;
  	padding: 10px 40px 40px 40px;
  }
}
.page1-credits-people {
	background-color: $primary-color;
	color: white;
}
.page1-on-demand {
  background-color: $secondary-color;
  color: white;
}
	.page404 {
	 text-align:center;
	 margin: 0 auto;
	}
	.page404 h1 {
		font-size:200px;
		padding-top: 25vw;
		padding-bottom: 25vw;
	}
	.page404 .spinner {
		display:inline-block;
		width:160px;
		height:160px;
		font-size:50px;
		text-align:center;
		-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    background: url("/images/URYrecord.png") center center;
    background-size: contain;
	}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .container.outer {
    width: 100%;
  }
  .container {
    width: 600px;
  }
  .mobile-only {
    display: none;
  }
}
.container-narrow>hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
@media (min-width: 982px) {
  .container {
    width: 800px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-hide {
    display: none;
  }
  .header-large {
    height: 400px;
  }
  .page1-profile {
    margin-top: -320px;
    margin-bottom: 30px;
  }
  .container.outer {
    width: 100%;
  }
  .container {
    width: 90%;
  }
  .mobile-col-right {
    width: 66.66666666%;
    float: right;
    padding: 30px 15px;
  }
  .index-banner {
    display: none;
  }
}