$current-next-now-bg:#003367;
$current-next-next-bg:rgba(0,51,103,0.75);

.current-and-next {
  display: flex;
  flex-direction: row;
  height:12em;
  color:white;
  margin: 0 -15px; //not sure why this is needed should probably be looked into
  .current-and-next-img {
    height: 12em;
    width: auto;
  }
  div {
    flex-grow: 1;
    flex-basis: 0; 
    
  }
  .current-and-next-now {
    background: $current-next-now-bg;
  }
  .current-and-next-next {
    background: $current-next-next-bg;
  }
}



