@keyframes bounceInUp {
  0% {
    transform: translate3d(0, 100px, 0);
  }
  1% {
    transform: translate3d(0, 99.13623574263565px, 0);
  }
  2% {
    transform: translate3d(0, 96.69112374647804px, 0);
  }
  3% {
    transform: translate3d(0, 92.88489370406353px, 0);
  }
  4% {
    transform: translate3d(0, 87.93592437681609px, 0);
  }
  5% {
    transform: translate3d(0, 82.05725434422325px, 0);
  }
  6% {
    transform: translate3d(0, 75.45357793567024px, 0);
  }
  7% {
    transform: translate3d(0, 68.31872171246744px, 0);
  }
  8% {
    transform: translate3d(0, 60.833590711409876px, 0);
  }
  9% {
    transform: translate3d(0, 53.16456588746444px, 0);
  }
  10% {
    transform: translate3d(0, 45.46232831518324px, 0);
  }
  11% {
    transform: translate3d(0, 37.86108277274508px, 0);
  }
  12% {
    transform: translate3d(0, 30.4781475984758px, 0);
  }
  13% {
    transform: translate3d(0, 23.413877547835px, 0);
  }
  14% {
    transform: translate3d(0, 16.751882242335967px, 0);
  }
  15% {
    transform: translate3d(0, 10.55950354568175px, 0);
  }
  16% {
    transform: translate3d(0, 4.88851479272968px, 0);
  }
  17% {
    transform: translate3d(0, -0.223995834793044px, 0);
  }
  18% {
    transform: translate3d(0, -4.754592640134803px, 0);
  }
  19% {
    transform: translate3d(0, -8.692345695984699px, 0);
  }
  20% {
    transform: translate3d(0, -12.037601608659415px, 0);
  }
  21% {
    transform: translate3d(0, -14.800702727505751px, 0);
  }
  22% {
    transform: translate3d(0, -17.00068155384467px, 0);
  }
  23% {
    transform: translate3d(0, -18.663955706991004px, 0);
  }
  24% {
    transform: translate3d(0, -19.823045386166655px, 0);
  }
  25% {
    transform: translate3d(0, -20.515332640406953px, 0);
  }
  26% {
    transform: translate3d(0, -20.78187825980011px, 0);
  }
  27% {
    transform: translate3d(0, -20.66631056510981px, 0);
  }
  28% {
    transform: translate3d(0, -20.213796062817636px, 0);
  }
  29% {
    transform: translate3d(0, -19.47010051916436px, 0);
  }
  30% {
    transform: translate3d(0, -18.48074615498618px, 0);
  }
  31% {
    transform: translate3d(0, -17.29026816681416px, 0);
  }
  32% {
    transform: translate3d(0, -15.941572027201715px, 0);
  }
  33% {
    transform: translate3d(0, -14.47539120167032px, 0);
  }
  34% {
    transform: translate3d(0, -12.929842750932764px, 0);
  }
  35% {
    transform: translate3d(0, -11.340077723401507px, 0);
  }
  36% {
    transform: translate3d(0, -9.73802121022591px, 0);
  }
  37% {
    transform: translate3d(0, -8.152196334583707px, 0);
  }
  38% {
    transform: translate3d(0, -6.607625980248571px, 0);
  }
  39% {
    transform: translate3d(0, -5.125804752137626px, 0);
  }
  40% {
    transform: translate3d(0, -3.724733871205714px, 0);
  }
  41% {
    transform: translate3d(0, -2.41901137453344px, 0);
  }
  42% {
    transform: translate3d(0, -1.219969720809772px, 0);
  }
  43% {
    transform: translate3d(0, -0.135853053119178px, 0);
  }
  44% {
    transform: translate3d(0, 0.827973133669047px, 0);
  }
  45% {
    transform: translate3d(0, 1.668787365015163px, 0);
  }
  46% {
    transform: translate3d(0, 2.386259320357979px, 0);
  }
  47% {
    transform: translate3d(0, 2.982185007887452px, 0);
  }
  48% {
    transform: translate3d(0, 3.460215920247549px, 0);
  }
  49% {
    transform: translate3d(0, 3.825587357431075px, 0);
  }
  50% {
    transform: translate3d(0, 4.084850690317154px, 0);
  }
  51% {
    transform: translate3d(0, 4.24561354306006px, 0);
  }
  52% {
    transform: translate3d(0, 4.316291541171864px, 0);
  }
  53% {
    transform: translate3d(0, 4.305874394073655px, 0);
  }
  54% {
    transform: translate3d(0, 4.22370873537578px, 0);
  }
  55% {
    transform: translate3d(0, 4.079299445157247px, 0);
  }
  56% {
    transform: translate3d(0, 3.882130790561206px, 0);
  }
  57% {
    transform: translate3d(0, 3.64150812532084px, 0);
  }
  58% {
    transform: translate3d(0, 3.366420514450539px, 0);
  }
  59% {
    transform: translate3d(0, 3.065424259449344px, 0);
  }
  60% {
    transform: translate3d(0, 2.746546920606164px, 0);
  }
  61% {
    transform: translate3d(0, 2.417211151781004px, 0);
  }
  62% {
    transform: translate3d(0, 2.08417738605884px, 0);
  }
  63% {
    transform: translate3d(0, 1.75350422152647px, 0);
  }
  64% {
    transform: translate3d(0, 1.430525167428442px, 0);
  }
  65% {
    transform: translate3d(0, 1.119840321329008px, 0);
  }
  66% {
    transform: translate3d(0, 0.825321372932663px, 0);
  }
  67% {
    transform: translate3d(0, 0.55012841316217px, 0);
  }
  68% {
    transform: translate3d(0, 0.296736879609995px, 0);
  }
  69% {
    transform: translate3d(0, 0.066973044617868px, 0);
  }
  70% {
    transform: translate3d(0, -0.137943501234773px, 0);
  }
  71% {
    transform: translate3d(0, -0.317351907828652px, 0);
  }
  72% {
    transform: translate3d(0, -0.471098069396476px, 0);
  }
  73% {
    transform: translate3d(0, -0.599479936045213px, 0);
  }
  74% {
    transform: translate3d(0, -0.703191349490879px, 0);
  }
  75% {
    transform: translate3d(0, -0.783265522376041px, 0);
  }
  76% {
    transform: translate3d(0, -0.841019164765129px, 0);
  }
  77% {
    transform: translate3d(0, -0.877998125681856px, 0);
  }
  78% {
    transform: translate3d(0, -0.895925300957373px, 0);
  }
  79% {
    transform: translate3d(0, -0.896651434573954px, 0);
  }
  80% {
    transform: translate3d(0, -0.882109311378059px, 0);
  }
  81% {
    transform: translate3d(0, -0.854271751920479px, 0);
  }
  82% {
    transform: translate3d(0, -0.815113668107742px, 0);
  }
  83% {
    transform: translate3d(0, -0.766578380291435px, 0);
  }
  84% {
    transform: translate3d(0, -0.710548276832796px, 0);
  }
  85% {
    transform: translate3d(0, -0.64881982187876px, 0);
  }
  86% {
    transform: translate3d(0, -0.583082846171123px, 0);
  }
  87% {
    transform: translate3d(0, -0.514903986413543px, 0);
  }
  88% {
    transform: translate3d(0, -0.445714081125459px, 0);
  }
  89% {
    transform: translate3d(0, -0.376799294882829px, 0);
  }
  90% {
    transform: translate3d(0, -0.309295692579099px, 0);
  }
  91% {
    transform: translate3d(0, -0.244186974379019px, 0);
  }
  92% {
    transform: translate3d(0, -0.182305042159101px, 0);
  }
  93% {
    transform: translate3d(0, -0.124333076164547px, 0);
  }
  94% {
    transform: translate3d(0, -0.070810782400414px, 0);
  }
  95% {
    transform: translate3d(0, -0.022141474949478px, 0);
  }
  96% {
    transform: translate3d(0, 0.021399331406158px, 0);
  }
  97% {
    transform: translate3d(0, 0.059654135345994px, 0);
  }
  98% {
    transform: translate3d(0, 0.092572772718569px, 0);
  }
  99% {
    transform: translate3d(0, 0.120201127800186px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-fill-mode: both;
  animation-delay: 0.3s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-name: bounceInUp;
}
