.bg-off-white {
  background: $off-white-color;
}

.bg-primary,
.bg-secondary,
.bg-third {
  color: $white;

  a {
    color: $link-blue;
  }
}
.bg-off-white,
.bg-white {
  color: $black;

  a {
    color: $link-blue;
  }
}

.bg-primary {
  background: $primary-color !important;
}

.bg-secondary {
  background: $secondary-color !important;

  hr {
    border-color: $off-white-color;
  }
}

.bg-third {
  background: $third-color !important;

  hr {
    border-color: $off-white-color;
  }
}

.bg-transparent {
  background: none !important;
}
