.bg-off-white {
  background: $off-white-color;
}

.bg-primary,
.bg-secondary,
.bg-third {
  color: $white;

  a {
    color: $link-color-light;
  }
}

.bg-off-white,
.bg-white {
  color: $black;

  a {
    color: $link-color-dark;
  }
}

.bg-primary {
  background: $primary-color !important;

  hr {
    border-color: $off-white-color;
  }
}

.bg-secondary {
  background: $secondary-color !important;

  hr {
    border-color: $off-white-color;
  }
}

.bg-third {
  background: $third-color !important;

  hr {
    border-color: $off-white-color;
  }
}

.bg-transparent {
  background: none !important;
}

.bg-sessions {
  background: desaturate($music-purple, 20%);
  color: $white
}

.bg-podcasts {
  background: #2E3540;
  color: $white
}

.bg-cin {
  background: $cin-background;
}

.bg-cin-gif {
  background: url("/images/holdingcard.gif") center center no-repeat;
  background-size: cover;
  color: $cin-primary;
  padding: 6em 0;
}
