@import "variables";
@import "typography";
@import "buttons";
@import "searchBox";
@import "backgrounds";
@import "utils";
@import "uryCard";

html {
  font-size: $base-font-size;
}

@include media-breakpoint-down(md) {
  html {
    font-size: 14px;
  }
}

.container-padded {
  padding-top: 1em;
  padding-bottom: 1em;
}


.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: transparentize($custom-scrollbar-color, 0.9);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 7.5px;
    background: transparentize($custom-scrollbar-color, 0.3);

    &:hover {
      background: $custom-scrollbar-color;
    }
  }
}

// Scroll horizontal, used for horizontal scrolling rows
.scroll-horiz {
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}

.scroll-none {
  overflow: auto;
  flex-wrap: wrap;
}

@mixin make-scroll-horiz($breakpoint) {

  .scroll-horiz-#{$breakpoint} {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .scroll-none-#{$breakpoint} {
    overflow: auto;
    flex-wrap: wrap;
  }
}

$breakpoints: sm, md, lg, xl;

@each $bp in $breakpoints {
  @include media-breakpoint-up($bp) {
    @include make-scroll-horiz($bp);
  }
}

.overflow-hidden {
  overflow: hidden;
}

.cin-text {
  color: $cin-primary;
}


@media (min-width: 1600px) {
  .container {
    max-width: 1400px;
  }
}
