@import "variables";
@import "typography";
@import "buttons";
@import "searchBox";
@import "backgrounds";
@import "utils";
@import "podcastCard";
@import "showCard";

html {
  font-size: $base-font-size;
}

.container-padded {
  padding-top: 1em;
  padding-bottom: 1em;
}


.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: transparentize($custom-scrollbar-color, 0.9);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 7.5px;
    background: transparentize($custom-scrollbar-color, 0.3);

    &:hover {
      background: $custom-scrollbar-color;
    }
  }
}
