@import "variables";
@import "fonts";
@import "typography";
@import "buttons";
@import "searchBox";
@import "backgrounds";
@import "utils";
@import "uryCard";
@import "animations";

html {
  font-size: $base-font-size;
}

@include media-breakpoint-down(md) {
  html {
    font-size: 14px;
  }
}

.container-padded {
  padding-top: 1em;
  padding-bottom: 1em;
}


@mixin custom-scrollbar($color) {
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: transparentize($color, 0.9);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 7.5px;
    background: transparentize($color, 0.3);

    &:hover {
      background: $color;
    }
  }
}

.custom-scrollbar {
  @include custom-scrollbar($custom-scrollbar-color);
}

.custom-scrollbar-music {
  @include custom-scrollbar(darken($music-purple, 20%));
}

.custom-scrollbar-cin {
  @include custom-scrollbar($cin-primary);
}

// Scroll horizontal, used for horizontal scrolling rows
.scroll-horiz {
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}

.scroll-none {
  overflow: auto;
  flex-wrap: wrap;
}

@mixin make-scroll-horiz($breakpoint) {

  .scroll-horiz-#{$breakpoint} {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .scroll-none-#{$breakpoint} {
    overflow: auto;
    flex-wrap: wrap;
  }
}

$breakpoints: sm, md, lg, xl;

@each $bp in $breakpoints {
  @include media-breakpoint-up($bp) {
    @include make-scroll-horiz($bp);
  }
}

.overflow-hidden {
  overflow: hidden;
}

.cin-text {
  color: $cin-primary;
  font-family: "MonumentExtended", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  &.outline {
    -webkit-text-stroke: 2px $cin-primary;
    -webkit-text-fill-color: transparent;
  }
}

.leaning-tower-of-pizza {
  font-style: italic;
}

.cin-countdown {
  display: inline-block;
  //background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  padding: 0.15em;
  //letter-spacing: 0.4rem;
  //border: 2px solid $cin-primary;
}


@media (min-width: 1600px) {
  .container {
    max-width: 1400px;
  }
}

$badge-colour: #868e96;

.tag {
  transition: 350ms;

  &:hover {
    transform: scale(1.08);
    color: $badge-colour;
    background-color: $white;
  }
}
