$button-color: #fff;
$listen-shadow: rgba(0, 0, 0, 0.33);

.btn {
  border: 0;
  border-radius: 0.4em;
  padding: 0.25em 1em;
  font-family: $font-family-heading;
  font-weight: 500;
  font-size: 1rem;
  @extend .box-shadow-1;

  &:disabled,
  &.disabled {
    filter: grayscale(100%);
    box-shadow: none;
  }

  &.btn-primary {
    background: $blue;
    color: $button-color;

    &:hover:not(:disabled) {
      background: $button-color;
      color: $blue;
    }
  }

  &.btn-primary-inverse {
    background: $button-color;
    color: $blue;

    &:hover:not(:disabled) {
      background: $blue;
      color: $button-color;
    }
  }

  &.btn-red {
    background: $red;
    color: $button-color;

    &:hover:not(:disabled) {
      background: $button-color;
      color: $red;
    }
  }

  &.btn-square {
    border-radius: 0;
  }

  &.btn-lg {
    font-size: 1.25rem;
  }

  &.btn-xl {
    border-radius: 0.3em;
    font-size: 2rem;
    padding: 0.8rem 1.5rem;
  }

  &.listen-btn {
    transition-duration: 0.3s;
    border-radius: 0.4em 0.4em 0 0;
    box-shadow: 0 1px 1px 1px $listen-shadow;
    position: absolute;
    right: 1em;
    margin: 0 0 0 auto;
    padding: 0.25em 0.5em;
    bottom: 0;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.8);
    }
  }

  @media not prefers-reduced-motion {
    &.listen-btn-animated {
      animation-fill-mode: both;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-name: listen-live-btn-bounce;
    }
  }
}
