$button-color: #fff;

.btn {
  border: 0;
  border-radius: .4em;
  padding: .25em 1em;
  font-family: $font-family-heading;
  font-weight: 500;
  font-size: 1rem;
  @extend .box-shadow-1;

  &:disabled,
  &.disabled {
    filter: grayscale(100%);
    box-shadow: none;
  }

  &.btn-primary {
    background: $blue;
    color: $button-color;

    &:hover:not(:disabled) {
      background: $button-color;
      color: $blue;
    }
  }

  &.btn-primary-inverse {
    background: $button-color;
    color: $blue;

    &:hover:not(:disabled) {
      background: $blue;
      color: $button-color;
    }
  }

  &.btn-red {
    background: $red;
    color: $button-color;

    &:hover:not(:disabled) {
      background: $button-color;
      color: $red;
    }
  }

  &.btn-square {
    border-radius: 0;
  }

  &.btn-lg {
    font-size: 1.25rem;
  }

  &.btn-xl {
    border-radius: .3em;
    font-size: 2rem;
    padding: 0.8rem 1.5rem;
  }

  $listen-shadow: rgba(0, 0, 0, 0.33);

  &.listen-btn {
    display: table;
    border-radius: 0.4em 0.4em 0 0;
    box-shadow: 1px 1px 0 1px $listen-shadow;
    position: absolute;
    bottom: 0;
    right: 1em;
    margin: 0 0 0 auto;
    padding: 0.25em 0.5em;
  }

}
