.btn {
  border-radius: 0.4em;
  padding: 0.25em 1em;
  font-family: $font-family-heading;
  font-weight: 500;
  font-size: $base-font-size;
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);

  &.btn-primary {
    background: $blue;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;

    &:hover {
    background: #FFFFFF;
    color: $blue;
    }
  }

  &.btn-red {
    background: $red;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;

    &:hover {
    background: #FFFFFF;
    color: $red;
    }
  }
}