@font-face {
  font-family: "MonumentExtended";
  src: url("/fonts/MonumentExtended-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "MonumentExtended";
  src: url("/fonts/MonumentExtended-Ultrabold.otf") format("opentype");
  font-weight: 900;
}
