$podcast-bg: rgb(240, 240, 240);

.podcast-card {
  margin: 15px 0;
  margin-left: 15px;
  .podcast-img-container {
    padding: 0;
    .podcast-img {

    }
  }
  .podcast-info {
    background: $podcast-bg;
    .podcast-title {
      text-overflow: ellipsis;


    }

    .podcast-date {

    }

    .podcast-desc {


    }
  }
}
