$search-box-border: 1px solid rgba(152, 152, 152, .2);
$search-transition-time: .5s;
$search-button-color: #808080;
$search-button-color-hover: #000;
$search-background: rgb(255, 255, 255);

.search-box {
  background: $search-background;
  border: $search-box-border;
  // 10 rem can be lower but if the font is enlarged on screen it doesnt look right
  border-radius: 10em;
  margin-bottom: auto;
  margin-top: auto;
  width: auto;

  input {
    background: none;
    border: 0;
    height: 100%;
    margin-bottom: auto;
    margin-top: auto;
    padding-left: 0;
    padding-right: .5em;
    width: 100%;

    &:focus {
      outline: none;
      background: none;
      border: 0;
    }
  }

  button {
    color: $search-button-color;
    border: 0;
    background: none;
    padding-left: .5rem;
    padding-right: .5rem;

    &:hover {
      color: $search-button-color-hover;
    }
  }
}


.search-box-expand {
  input {
    // only do the animation when the nav is not collapsed
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 70px;
      transition-duration: $search-transition-time;
      transition-delay: .1s;
    }

    &:focus {
      // only do the animation when the nav is not collapsed
      width: 100%;

      @include media-breakpoint-up(md) {
        width: 170px;
        transition-duration: $search-transition-time;
      }
    }
  }
}
