$show-bg:#2C3849;
$show-txt-color: #FFFFFF;

$podcast-bg: #003C00;
$podcast-txt-color: #FFFFFF;

a.ury-card,
.ury-card {
  @extend .box-shadow-3;
  background: $show-bg;
  color: $show-txt-color;
  transition: $transition-time;
  border-radius: 2rem;
  // Override the ancher tag defaults
  display: block;
  text-decoration: none;

  &:hover {
    background: tint($show-bg, 70%);
  }

  .ury-card-img {
    width: 100%;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover !important; //propotional resize
    border-radius: 2rem;

  }

  .ury-card-body {
    text-align: center;
    padding: 10px;

    .ury-card-title {
      @extend .h4;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .ury-card-lg-title {
      @extend .h2;
    }
  }


  &.podcast {
    color: $white;
    background: lighten($computing-grey, 10%);

    &:hover {
      background: tint($computing-grey, 70%);
    }
  }

  &.sessions {
    background: $music-purple;
  }

  &.cin {
    color: $cin-background;
    background: $cin-primary;
  }

  &.link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}


.team-card {
  a.card-body  {
      color: #343a40;

    &:hover {
      color: #0c7cbf;
    }
  }

  .card-body {
    height: 12em;
    text-decoration: none;
  }

  .card-text {
    position: relative;
    height: 6em; // exactly 4 lines
    overflow: hidden;
    color: #343a40;

    &::after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70%;
      height: 1.5em;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%); // scss-lint:disable ColorVariable
    }
  }
}
