
// scss-lint:disable This is specific to UL's only
ul {
  // Splits a list into two even columns for anything above md and three for anything above xl
  // otherwise its one column
  &.split-evenly-3 {
    text-align: left;
    overflow: auto;
    width: 100%;

    @include media-breakpoint-up(md) {
      li {
        float: left;
        width: 50%;
        padding-right: 1em;
      }
    }

    @include media-breakpoint-up(xl) {
      li {
        float: left;
        width: 33%;
      }
    }
}

  // Splits a list into two even columns for anything above md
  // otherwise its one
  &.split-evenly-2 {
    text-align: left;
    overflow: auto;
    width: 100%;

    @include media-breakpoint-up(md) {
      li {
        float: left;
        width: 50%;
        padding-right: 1em;
      }
    }
  }

  &.no-bullets {
    list-style: none;
  }
}

.box-shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.box-shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.box-shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
