// Add percentage of white to a color
@import "utils";

$ury-blue-color: #000000;

$computing-grey: #2e3540;

$speech-green: #2a722b;

$news-maroon: #5a162e;

$music-purple: #562179;

$primetime: #feb93a;

$collab: #d14fda;

$cin-primary: #fff;
$cin-dark-primary: #f9b9bd;
$cin-background: #307dbf;
$link-color-cin: #b2e2ff;

$disabled-color: rgb(150, 150, 150);
$primary-color: $ury-blue-color;
$secondary-color: #002040;
$third-color: #001933;
$off-white-color: #f3f3f3;

$white: #ffffff;
$blue: #0073e6;
$red: #d0011b;
$black: #000000;

$link-color-light: #4cbcff;
$link-color-dark: #0062c4;

//font
$base-font-size: 16px;
$mobile-font-size: 10px;
$mobile-max-width: 770px;

//Current and Next
$current-next-now-bg: #f3f3f3;
$current-next-next-bg: rgba(243, 243, 243, 0.85);
$current-next-txt-color: #000000;
//Schedule block colours
$blocks-sustainer-color: $secondary-color;
$blocks-regular-color: $off-white-color;

//custom scroll bar
$custom-scrollbar-color: #fff;

$transition-time: 350ms;

$border-curve-radius: 1.25rem;
$internal-padding: 0.5rem;
$internal-curve-radius: calc(#{$border-curve-radius} - #{$internal-padding});
