$primary-color: rgba(0, 51, 103, 1);
$secondary-color: rgba(1, 26, 50, 1);
$third-color: rgba(2, 33, 63, 1);
$off-white-color: #e1e1e1;

$blue: #0073E6;
$red: #D0011B;

//font
$base-font-size: 16px;
$mobile-font-size: 10px;
$mobile-max-width: 770px;

//Current and Next
$current-next-now-bg: #003367;
$current-next-next-bg: rgba(0, 51, 103, 0.85);

//Schedule block colours
$blocks-sustainer-color: $secondary-color;
$blocks-regular-color: $off-white-color;
