// Add percentage of white to a color
@import "utils";

$ury-blue-color: #002d5a;

$computing-grey: #2E3540;

$speech-green: #2A722B;

$news-maroon: #5A162E;

$music-purple: #562179;

$primetime: #feb93a;

$collab: #d14fda;

$cin-primary: #e4087e;
$cin-dark-primary: #1C857C;
$cin-background: #000000;

$disabled-color: rgb(150, 150, 150);
$primary-color: $ury-blue-color;
$secondary-color: #002040;
$third-color: #001933;
$off-white-color: #f3f3f3;

$white: #ffffff;
$blue: #0073e6;
$red: #d0011b;
$black: #000000;

$link-color-light: #4cbcff;
$link-color-dark: #0062c4;

//font
$base-font-size: 16px;
$mobile-font-size: 10px;
$mobile-max-width: 770px;

//Current and Next
$current-next-now-bg: #003367;
$current-next-next-bg: rgba(0, 51, 103, .85);
$current-next-txt-color: #ffffff;
//Schedule block colours
$blocks-sustainer-color: $secondary-color;
$blocks-regular-color: $off-white-color;

//custom scroll bar
$custom-scrollbar-color: #FFF;

$transition-time: 350ms;
