.current-next {
  background: url("/images/bg-banner-1.jpg") center center no-repeat;
  background-size: cover;
  color: white;
  box-sizing: content-box;

  // Padding for mobile
  padding: calc(5em + 60px) 0 5em;

  // Padding for desktop
  @include media-breakpoint-up(md) {
    // Remove the height of the nav bar roughly 60px
    padding: calc(8em + 60px) 0 8em;
  }

  .sra-2020-bug {
    position: absolute;
    top: calc(1em + 60px);
    left: 1em;
    max-width: 90vw;
    max-height: 54px;
  }
}
.current-next-container {
  max-width: 950px;
}

.current-and-next {
  color: white;
  overflow: hidden;

  .current-and-next-img {
    background: $current-next-now-bg;

    img {
      width: 100%;
      height: auto;
    }
  }


  .current-and-next-now,
  .current-and-next-next {
    display: block;
    height: 100%;
    color: $current-next-txt-color;
  }

  a.current-and-next-now { // scss-lint:disable QualifyingElement
    text-decoration: none;

    &:hover {
      transition: $transition-time;
      background: tint($current-next-now-bg, 70%);
    }
  }

  .current-and-next-now {
    background: $current-next-now-bg;
  }

  a.current-and-next-next { // scss-lint:disable QualifyingElement
    text-decoration: none;

    &:hover {
      transition: 350ms;
      background: tint($current-next-next-bg, 70%);
    }
  }

  .current-and-next-next {
    background: $current-next-next-bg;
  }

}
