.current-next {
  background: url('/images/current-next-bg.png') center center no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  padding: 20px 0;
}
.current-and-next {
  display: flex;
  flex-flow: row wrap;
  min-height:12em;
  color:white;
  margin: 0 -15px;
  font-size: $base-font-size;
  
  .current-and-next-img {
    height: 12em;
    width: 12em;
    img {
      height:100%;
      width:auto;
    }
  }
  .current-and-next-now, .current-and-next-next {
    flex-grow: 1; 
    flex-basis: 0;
    padding: 0 1em;
    min-width: 15em;
    flex-wrap: wrap;
  }
  .current-and-next-now {
    background: $current-next-now-bg;
  }
  .current-and-next-next {
    background: $current-next-next-bg;
  }
}

@media screen and (max-width: 767px) {
  .current-next {
    min-height: auto;
  }
  .current-and-next-now, .current-and-next-next {
    flex-basis: auto!important;
  }
  .current-and-next-btn-mobile {
    flex-basis: 100%;
    order:5;
    border-radius: 0;
  }
}
@media screen and (min-width: 768px) {
  .current-and-next-btn {
    position: relative;
    left: 15%;
    right: 15%;
    bottom: 3em;
    opacity: 0.9;
  }
}
  



@media screen and (max-width: $mobile-max-width) {
  .current-and-next {
    font-size: $mobile-font-size;
  }
}
