.current-next {
  background: url("/images/bg-banner-1.jpg") center center no-repeat;
  background-size: cover;
  color: white;
  box-sizing: content-box;

  // Padding for mobile
  padding: calc(5em + 60px) 0 5em;

  // Padding for desktop
  @include media-breakpoint-up(md) {
    // Remove the height of the nav bar roughly 60px
    padding: calc(8em + 60px) 0 8em;
  }
}

.current-and-next {
  color: white;

  .current-and-next-img {
    background: $current-next-now-bg;

    img {
      width: 100%;
      height: auto;
    }
  }


  .current-and-next-now,
  .current-and-next-next {
    display: block;
    height: 100%;
    color: $current-next-txt-color;
  }

  a.current-and-next-now { // scss-lint:disable QualifyingElement
    text-decoration: none;

    &:hover {
      transition: $transition-time;
      background: tint($current-next-now-bg, 70%);
    }
  }

  .current-and-next-now {
    background: $current-next-now-bg;
  }

  a.current-and-next-next { // scss-lint:disable QualifyingElement
    text-decoration: none;

    &:hover {
      transition: 350ms;
      background: tint($current-next-next-bg, 70%);
    }
  }

  .current-and-next-next {
    background: $current-next-next-bg;
  }

  .listen-btn {
    max-width: 120px;
    border-radius: .4em .4em 0 0;
    box-shadow: 0px -2px 1px 1px rgba(0,0,0, 0.33);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 1em 0 auto;
  }
}
