.thumbnail-slider {

  .thumbnail-container {
    padding: 15px;
    transition: 350ms;

    .thumbnail {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    &:hover {
      transform: scale(1.08);
    }
  }
}

.index-countdown-video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  #index-countdown-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
    background-color: #002d5a;
  }
}

.index-countdown-wrapper {
  height: 100vh !important;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  &.image {
    background-attachment: fixed;
    background-size: cover;
  }

  .callout {
    color: #c9c9c9;
    font-size: 1.8rem;
    font-style: italic;
    font-family: Raleway, Roboto, sans-serif;
    &.link a {
      color: #fafafa;
      font-weight: bold;
      text-decoration: underline;
      text-decoration-thickness: 0.1em;
    }
  }
}

.index-countdown {
  display: inline-block;
  //background-color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  padding: 0.15em;
  //letter-spacing: 0.4rem;
  //border: 2px solid $cin-primary;
  .smol {
    font-size: 50%;
  }
}

