.youtube-video-slider {

  .thumbnail-container {
    padding: 15px;
    transition: 350ms;

    .thumbnail {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    &:hover {
      transform: scale(1.08);
    }
  }
}
