$white: #ffffff;
$black: #000000;
$shadow: rgba(0, 0, 0, 0.5);

@mixin schedule-block($bg-color, $txt-color) {
  border-bottom: $bg-color solid 10px;
  background: $white;
  padding: 5px;
  margin: 5px;

  a {
    color: $black;
  }

  &:hover {
    background-color: tint($bg-color, 60%);
  }

  box-shadow: 0 2px 4px $shadow;
}

.tables-container {
  width: 100%;
  text-align: center;
  background-color: $secondary-color;

  .row-headers {
    width: 8%;
  }
}

.schedule-table {
  border-collapse: separate;
  table-layout: fixed;
  border-spacing: 2px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 11%;

  thead {
    th {
      border: 0;
    }
  }

  tr {
    height: 84px;
  }

  td, 
  th {
    border-top: 0;
    overflow-y: hidden;

    a {
      display: block;
      width: 100%;
      height: 30px;
    }
  }

  .day-header {
    color: $white;
  }

  .time-header {
    border: none;
    text-align: center;
    color: $white;

    .mobile-only {
      display: none;
    }
  }

  .col-headers {
    height: 24px;
  }
}

$sustainer-color: tint($primary-color, 40%);

.schedule-blocks-sustainer {
  @include schedule-block($sustainer-color, $black);
  background-color: $sustainer-color;

  &:hover{
    background-color: $sustainer-color;
  }
}

.schedule-blocks-regular {
  @include schedule-block($primary-color, $off-white-color);
}

.schedule-blocks-flagship {
  @include schedule-block($flagship, $black);
}

.schedule-blocks-news {
  @include schedule-block($news-maroon, $off-white-color);
}

.schedule-blocks-speech {
  @include schedule-block($speech-green, $off-white-color);
}

.schedule-blocks-music {
  @include schedule-block($music-purple, $off-white-color);
}

.schedule-blocks-event {
  @include schedule-block($red, $off-white-color);
}

.schedule-blocks-specialistMusic {
  @include schedule-block(tint($music-purple, 60%), $white);
}

.schedule-blocks-specialistInterest {
  @include schedule-block(tint($speech-green, 60%), $white);
}

@media screen and (max-width: 767px) {
  .mobile-hide {
    display: none;
  }

  .current-next.mobile-shrink {
    height: unset;
    padding: calc(2em + 60px) 0 2em;
  }

  .schedule-table {
    display: table;
    width: 100%;
    background-color: $secondary-color;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 2px;


    .day-header,
    .time-header {
      display: table-cell;
      overflow-x: hidden;
    }

    .day-header {
      font-size: 2rem;
      text-align: center;
    }

    .time-col {
      width: 25%;
    }
  }

  .tables-container {
    background-color: none;
  }
}
