@mixin schedule-block($bg-color, $txt-color) {
  border-bottom: $bg-color solid 10px;
  background: white;
  padding: 5px;
  margin:5px;
  a {
    color: black;
  }
  &:hover {
    background-color: tint($bg-color, 60%);
  }
  box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}
tr {
  height:80px;
}
.schedule-blocks-sustainer {
  background-color: $secondary-color;
  color: $off-white-color;
  visibility: hidden;

}
.schedule-table {
  border-collapse: separate;
  table-layout: fixed;
  border-spacing: 15px;

  thead {
    th {
      border: none;
    }
  }
  th {
      border: none;
  }
  td {
    border-top: none;
  }

}
.schedule-blocks-regular {
  @include schedule-block($primary-color, $off-white-color);
}

.schedule-blocks-flagship {
  @include schedule-block($flagship, $black);
}

.schedule-blocks-news {
  @include schedule-block($news-maroon, $off-white-color);
}

.schedule-blocks-speech {
  @include schedule-block($speech-green, $off-white-color);
}

.schedule-blocks-music {
  @include schedule-block($music-purple,$off-white-color);
}

.schedule-blocks-event {
  @include schedule-block($red, $off-white-color);
}

.schedule-blocks-specialistMusic {
  @include schedule-block(tint($music-purple,60%),$white);
}

.schedule-blocks-specialistInterest {
  @include schedule-block(tint($speech-green,60%),$white);
}
