$white: #ffffff;
$black: #000000;
$shadow: rgba(0, 0, 0, 0.5);

@mixin schedule-block($bg-color, $txt-color) {
  border-bottom: $bg-color solid 10px;
  background: $white;
  padding: 5px;
  margin: 5px;

  a {
    color: $black;
  }

  &:hover {
    background-color: tint($bg-color, 60%);
  }

  &.disabled {
    border-bottom: rgb(150, 150, 150) solid 10px;

    &:hover {
      background-color: $white;
    }
  }

  box-shadow: 0 2px 4px $shadow;
}
@mixin schedule-key($color) {
  display: inline-block;
  background: $white;
  border-bottom: $color solid 10px;
  padding: 2px 5px;
  margin: 5px 5px 10px;

  &:hover {
    background-color: tint($color, 60%);
  }

  box-shadow: 0 2px 4px $shadow;

}

.tables-container {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 10px;

  .row-headers {
    width: 8%;
  }
}

.schedule-table {
  border-collapse: separate;
  table-layout: fixed;
  border-spacing: 2px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 11%;

  thead {
    th {
      border: 0;
    }
  }

  tr {
    height: 84px;
  }

  td,
  th {
    border-top: 0;
    overflow-y: hidden;

    p,
    a {
      display: block;
      width: 100%;
      height: 30px;
    }
  }

  .time-header {
    border: 0;
    text-align: center;

    .mobile-only {
      display: none;
    }
  }

  .col-headers {
    height: 24px;
  }

  .schedule-timeslot:not(.schedule-blocks-sustainer) {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

$sustainer-color: tint($primary-color, 40%);

.schedule-blocks-sustainer {
  @include schedule-block($sustainer-color, $black);
  background-color: $sustainer-color;

  &:hover {
    background-color: $sustainer-color;
  }
}

.schedule-blocks-regular {
  @include schedule-block($primary-color, $off-white-color);
}

.schedule-blocks-flagship {
  @include schedule-block($flagship, $black);
}

.schedule-blocks-news {
  @include schedule-block($news-maroon, $off-white-color);
}

.schedule-blocks-speech {
  @include schedule-block($speech-green, $off-white-color);
}

.schedule-blocks-music {
  @include schedule-block($music-purple, $off-white-color);
}

.schedule-blocks-event {
  @include schedule-block($red, $off-white-color);
}

.schedule-blocks-specialist-music {
  @include schedule-block(tint($music-purple, 60%), $white);
}


.schedule-keys-regular {
  @include schedule-key($primary-color);
}

.schedule-keys-flagship {
  @include schedule-key($flagship);
}

.schedule-keys-news {
  @include schedule-key($news-maroon);
}

.schedule-keys-speech {
  @include schedule-key($speech-green);
}

.schedule-keys-music {
  @include schedule-key($music-purple);
}

.schedule-keys-event {
  @include schedule-key($red);
}

.schedule-keys-specialist-music {
  @include schedule-key(tint($music-purple, 60%));
}

.schedule-keys .key-row {
  text-align: right;
}

@include media-breakpoint-down(md) {
  .schedule-keys .key-row {
    text-align: left;

    .h5, .h6 {
      display: block;
      margin-top: 10px;
    }

  }
}
@include media-breakpoint-down(sm) {
  .current-next.mobile-shrink {
    height: unset;
    padding: calc(2em + 60px) 0 2em;
  }
  .schedule-keys .key-row {
    text-align: left;

    .h5, .h6 {
      display: block;
      margin-top: 10px;
    }

  }
  .schedule-table {
    display: table;
    width: 100%;
    background-color: $secondary-color;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 2px;


    .day-header,
    .time-header {
      display: table-cell;
      overflow-x: hidden;
      color: $white;
    }

    .day-header {
      font-size: 2rem;
      text-align: center;
    }

    .time-col {
      width: 25%;
    }
  }
}
