$season-title-color:  #666;

.show-selector {
  .inline {
    display: inline-block;
    margin-right: 5px;
  }

  #timeslots_wrapper {
    margin-top: -5px; // Fixes wierd but where tables do not line up
  }

  #timeslot-season-title {
    color: $season-title-color;
  }

  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }

  .dataTables_wrapper table thead{
    display: none;
  }

  #timeslot-latest {
    display: none;
  }

  :not(.dataTable) {
    tr th:first-of-type,
    tr td:first-of-type {
      display: none;
    }

  }

  .timeslots-table,
  .seasons-table {
    min-width: 100%;

    tbody tr {
      cursor: pointer;

      &:hover,
      &.active {
        background: tint($secondary-color, 30%);
      }
    }
    td {
      border: 0;
    }
  }
}
