.show-selector {
  .inline {
    display: inline-block;
    margin-right: 5px;
  }

  #timeslot-season-title {
    color: #666;
  }

  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }

  .dataTables_wrapper table thead{
    display: none;
  }

  #timeslot-latest {
    display: none;
  }

  :not(.dataTable) {
    tr th:first-of-type,
    tr td:first-of-type {
      display: none;
    }

  }

  .timeslots-table,
  .seasons-table {
    min-width: 100%;

    tbody {
      tr {
        cursor: pointer;
      }
      td {
        border: 0;
      }
      tr:hover,
      tr.active {
        background: tint($secondary-color, 30%);
      }
    }
  }
}
