$cardSize: 8em;

.podcasts {
  list-style: none;
  padding: 0;
  box-sizing: border-box;

  .podcast-card {
    background-color: white;
    color: black;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    a {
      color: $link-color-dark;
    }

    @media all and (min-width: 600px) {
      max-height: $cardSize;
    }

    img {
      max-height: $cardSize;
      max-width: $cardSize;
    }
  }
}
