@-webkit-keyframes SNOW {
  from {
    background-position: 0% 100%; 
  }
  to { 
    background-position: 0 0%;
  }
}
.snow{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  background: url('../images/snow.png');
  background-repeat: repeat-x;
  background-size: 100% 200%;
  animation-name: SNOW;
  animation-duration: 3.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
